<!-- <p>network-error works!</p> -->
<!-- Network-error -->
<div class="cls-network text-center">
    <img src="../../../assets/images/nointernet-available.svg" alt="Network Error" title="Network Error" class="cls-network-error">
    <div class="cls-content text-left">
        <div class="cls-title mt-4">{{'Oops! No Internet Available' }}</div>
        <div class="head">Try :</div>
        <div class="cls-try pt-2">{{'Checking the network cables, modem and router' }}</div>
        <div class="cls-try pt-2">{{'Reconnecting to Wi-Fi'}}</div>
        <div class="text-center ">
            <button type="submit" id="spin" class="btn cls-custombtn text-center my-3 waves-effect waves-light" (click)="reload()">
                <span class="continue-btn">{{'Try Again'}}
                    <em class="cls-arrow-icon icon-26-line-arrow"></em>
                </span>
                <span class="spinner-border spinner-btn"></span>
            </button>
        </div>
    </div>
</div>