<div class="row" [formGroup]="form">
    <div class="cls-year input-field cls-year-picker col-md-4" *ngFor="let data of formData">
        <input class="form-control year" type="number"  [readonly]="isReadOnly" [ngClass]="{'cls-border-error':(submitted && form.controls[data.keys].errors)}"
            (mouseover)=chooseYear(data.keys) tabindex="0" type="text" id="{{ data.keys }}" onkeypress="return false;"
            formControlName="{{ data.keys }}" (keydown.enter)="chooseYear(data.keys)" (click)="chooseYear(data.keys)"
            autocomplete="off" required>
        <label class="position-label" for="{{ data.keys }}">{{ data.name | translate }}<span
                class="cls-mandatory">*</span></label>
        <em class="icon-4-date cls-date-icon"></em>
    </div>
</div>
<!-- [ngClass]="{'cls-inactive':(form.controls[data.keys].status == 'INVALID' && !form.controls[data.keys].value !='' && form.controls[data.keys].touched)}" -->