<div class="cls-tab-focus">
    <ng-container [ngSwitch]="items.type">
        <app-radio-button #rb *ngSwitchCase="'radiobutton'" [formData]="formData" [conditionValue]="items" ></app-radio-button>
        <app-auto-complete #ac *ngSwitchCase="'autocomplete'" [formData]="formData" [conditionValue]="items" [formValues]="formValues[items['keys']]"></app-auto-complete>
        <app-auto-complete #ac *ngSwitchCase="'text'" [formData]="formData" [conditionValue]="items" [formValues]="formValues[items['keys']]"></app-auto-complete>
        <!-- <app-dropdown #dp *ngSwitchCase="'dropdown'" [formData]="formData" [conditionValue]="items" ></app-dropdown>  -->
        <app-date-picker #date *ngSwitchCase="'datepicker'" [formData]="formData" [formValues]="formValues[items['keys']]" [conditionValue]="items"></app-date-picker>  
        <app-multi-select #ms *ngSwitchCase="'multiselect'" [formData]="formData" [conditionValue]="items"></app-multi-select>
        <app-auto-complete-dropdown  #adp *ngSwitchCase="'dropdown'" [dropdownDefaultVal] = "dropdownDefaultVal" (dropdownDataVal)="getDropdownData($event)" [formData]="formData" [conditionValue]="items"></app-auto-complete-dropdown>
        <app-year-picker #yp *ngSwitchCase="'yearpicker'" [formData]="formData" [formValues]="formValues[items['keys']]" [conditionValue]="items"></app-year-picker>  
    </ng-container>
</div>
