<div>
    <a class="cls-popup-anchor" *ngIf="!nameChangeReportInfo" href="javascript:;" (click)="alertClose(true)">Click here to view all selected group passengers list</a>
</div>

<div class="cls-alert-container" *ngIf="toClose">
    <!-- background -->
    <span class="cls-background" [ngClass]="(!toClose ? 'd-none' : '')"></span>
    <!-- alert-container -->
    <div class="cls-popup">
        <div class="cls-head">
            <span>Passenger(s) list</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="alertClose(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Alert body -->
        <div class="cls-content cls-alert-icon">
            <div *ngIf="passengerData?.list_body">
                <app-list-index [list]="passengerData" [flagData]="true" ></app-list-index>
            </div>
        </div>
    </div>
</div>
