@keyframes fadeIn-popup {
  0% {
    transform: scale(0);
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
//Modal background
.cls-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #504444;
  opacity: 0.3;
  pointer-events: all;
  z-index: 999;
}
.cls-content {
  padding: 0px 22px;
}
//Modal container
.cls-popup {
  animation: 0.5s fadeIn-popup linear;
  animation-fill-mode: forwards;
  transition: 0.5s;
  margin: 0px auto;
  width: 65%;
  height: 75%;
  position: fixed;
  z-index: 1000;
  background: #fff;
  top: 13%;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 14px;
  //Modal Header
  .cls-head {
    display: flex;
    margin: 0px 22px;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    width: 96%;
    span {
      font-size: 18px;
      color: black;
    }
    em {
      float: right;
      padding: 3px 3px 8px 5px;
      font-size: 10px;
      color: black;
    }
  }
  //Modal Icon
  .cls-icon {
    width: 30px;
    margin: 0px auto;
  }
  //button design
  .cls-custombtn {
    height: 30px !important;
    span {
      font-size: 14px;
      em {
        font-size: 12px;
        top: 31%;
        right: 10%;
        padding: 0;
      }
    }
    &.btn-white {
      em {
        color: #999;
      }
    }
  }
  .cls-alert-icon {
    em {
      display: block;
      margin: 0 auto;
      font-size: 40px;
      padding: 10px;
    }
  }
  .cls-btns {
    padding: 10px 20px;
    max-height: 420px;
    overflow: auto;
  }
  .cls-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
:host(.cls-alert) {
  .cls-close {
    display: none !important;
  }
}
//animation design for closeing modal
.close-ani {
  display: block;
  animation: 0.4s fadeout;
  animation-fill-mode: forwards;
  transition: 0.4s;
}
@keyframes fadeout {
  0% {
    transform: scale(1);
    transform: scale(1) translate3d(0, 0, 0);
  }
  5% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
    transform: scale(0) translate3d(0, 0, 0);
  }
}
.cls-popup-anchor {
    text-decoration: underline;
}