/*************************************** Custom Directive *********************************************/

// Simple toggle and over all open close toggle
.cls-CD-body-content {
    ul {
        animation: .3s fadeout forwards;
        padding: 0px !important;
    }
    &.cls-CD-bodyContent-open ul {
        animation: .5s fadein forwards;
        padding: 16px 0px !important;
    }
}

@keyframes fadein {
    0% {
        display: block;
        transform: scaleY(.1);
        transform-origin: top;
        visibility: unset;
        position: unset;
    }


    25% {
        display: block;
        transform: scaleY(.3);
        transform-origin: top;
    }

    50% {
        display: block;
        transform: scaleY(.7);
        transform-origin: top;
    }

    100% {
        display: block;
        transform: scaleY(1);
        transform-origin: top;
    }
}

@keyframes fadeout {
    0% {
        display: block;
        transform: scaleY(.0);
        transform-origin: top;
    }

    35% {
        display: block;
        transform: scaleY(0);
        transform-origin: top;
    }
    60% {
        display: block;
        opacity: .2;
        transform: scaleY(0);
        transform-origin: top;
    }

    95% {
        display: none;
        transform: scaleY(0);
        transform-origin: top;
    }
    100% {
        display: none;
        opacity: 0;
        transform: scaleY(0);
        visibility: collapse;
        position: absolute;
        z-index: -0;
    }
}

/***********************************  Custom Directive Ends  ******************************************/