
@mixin font-face($font-name, $file-name) { 
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
        // url($file-name + '.otf')  format('opentype'),
        url($file-name + '.svg')  format('svg'),
        url($file-name + '.ttf')  format('truetype'),
        url($file-name + '.woff') format('woff'),
        url($file-name + '.woff2')  format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@include font-face('OpenSans-Bold','./assets/fonts/Opensans/OpenSans-Bold');
@include font-face('OpenSans-Light','./assets/fonts/Opensans/OpenSans-Light');
@include font-face('OpenSans-Medium','./assets/fonts/Opensans/OpenSans-Medium');
@include font-face('OpenSans-Regular','./assets/fonts/Opensans/OpenSans-Regular');
@include font-face('OpenSans-SemiBold','./assets/fonts/Opensans/OpenSans-SemiBold');
@include font-face('Roboto-Bold','./assets/fonts/Roboto/Roboto-Bold');
@include font-face('Roboto-Light','./assets/fonts/Roboto/Roboto-Light');
@include font-face('Roboto-Medium','./assets/fonts/Roboto/Roboto-Medium');
@include font-face('Roboto-Regular','./assets/fonts/Roboto/Roboto-Regular');
@include font-face('Inter-Light','./assets/fonts/Inter/Inter-Light');
@include font-face('Inter-Medium','./assets/fonts/Inter/Inter-Medium');
@include font-face('Inter-Regular','./assets/fonts/Inter/Inter-Regular');
@include font-face('Poppins-Bold','./assets/fonts/Poppins/Poppins-Bold');
@include font-face('Poppins-Light','./assets/fonts/Poppins/Poppins-Light');
@include font-face('Poppins-Medium','./assets/fonts/Poppins/Poppins-Medium');
@include font-face('Poppins-Regular','./assets/fonts/Poppins/Poppins-Regular');
@include font-face('Poppins-SemiBold','./assets/fonts/Poppins/Poppins-SemiBold');
@include font-face('Flynas-Bold','./assets/fonts/Flynas/Flynas-Bold');
@include font-face('Flynas-Light','./assets/fonts/Flynas/Flynas-Light');
@include font-face('Flynas-Regular','./assets/fonts/Flynas/Flynas-Regular');
@include font-face('Flynas-SemiBold','./assets/fonts/Flynas/Flynas-SemiBold');
@include font-face('Bauhaus-Medium','./assets/fonts/bauhaus_std_fonts/bauhaus_std_medium');
@include font-face('jotia_bold','./assets/fonts/jotia/jotia_bold');
@include font-face('jotia_medium','./assets/fonts/jotia/jotia_medium');
@include font-face('jotia_regular','./assets/fonts/jotia/jotia_regular');
@include font-face('graphik_bold','./assets/fonts/graphik/graphik_bold');
@include font-face('graphik_medium','./assets/fonts/graphik/graphik_medium');
@include font-face('graphik_regular','./assets/fonts/graphik/graphik_regular');



