$variables: (
    --PRIMARYCOLOR : var(--PRIMARYCOLOR),
    --SECONDARYCOLOR : var(--SECONDARYCOLOR),
    --DARKBOXSHADOW : var(--DARKBOXSHADOW),
    --LINK : var(--LINK),
    --BGLIGHTER : var(--BGLIGHTER),
    --BGDARK : var(--BGDARK),
    --BGWHITE : var(--BGWHITE),
    --TXTDARK : var(--TXTDARK),
    --TXTDARKER : var(--TXTDARKER),
    --TXTBLACK : var(--TXTBLACK),
    --TXTLIGHT : var(--TXTLIGHT),
    --TXTLIGHTER : var(--TXTLIGHTER),
    --TXTWHITE : var(--TXTWHITE),
    --BDRLIGHTER : var(--BDRLIGHTER),
    --BDRLIGHT : var(--BDRLIGHT),
    --BDRREGULAR:var(--BDRREGULAR),
    --PRIMARYREGULARFONT : var(--PRIMARYREGULARFONT),
    --PRIMARYLIGHTFONT : var(--PRIMARYLIGHTFONT),
    --PRIMARYMEDIUMFONT : var(--PRIMARYMEDIUMFONT),
    --PRIMARYSEMIBOLDFONT : var(--PRIMARYSEMIBOLDFONT),
    --PRIMARYBOLDFONT : var(--PRIMARYBOLDFONT),
    )