modules = ["web", "nodejs-16"]

run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
build = "npm run build"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4200
externalPort = 80

[workflows]
runButton = "Run Angular App"

[[workflows.workflow]]
name = "Run React App"
author = 42577521
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build Production"
author = 42577521
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Preview Production Build"
author = 42577521
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"

[[workflows.workflow]]
name = "Run Angular App"
author = 44752192
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ng serve --host 0.0.0.0 --port 5000"
