<!-- pagination part starts -->
<div class="cls-pagination mt-5" *ngIf="pageList.length >1">
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination-count">
              <li class="d-flex  ">
                <label>{{ 'Item per page : ' | translate}}</label>
                <div class="cls-custom-select custom-view pl-2 ml-3" data-toggle="collapse" data-target="#itemsPerpage">
                  {{ itemsPerPage }}
                  <ul id="itemsPerpage" class="collapse">
                    <!-- <li *ngFor="let items of noofItems" (click)="itemsPerpage(items)">
                      {{ items }}
                    </li> -->
                    <li *ngFor="let item of pageList" (click)="setItemsPerPage(item)">{{item}}</li>
                  </ul>
                </div>
              </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="pagination" *ngIf="paginationList.length > 1">
              <li class="waves-effect" [ngClass]="{'cls-disable': activePage == 1}" (click)="goToPage(activePage - 1)">
                <span class="circleborder"><em class="icon-14-arrow"></em></span>
              </li>
              <div class="cls-divpage cls-pageno">
                <ng-container *ngFor="let page of paginationList;let start = first;let end = last;let ind = index;let trackBy =trackBypaginationList">
                  <!-- <li class="page-item ellipsis" *ngIf="(!start && !end) && (page === activePage -2 || page === activePage + 2)"
                    id="pageNext"><a class="page-link" href="javascript:;" title="pageNext"></a></li> -->
                  <li class="waves-effect page page-item "
                    [ngClass]="{'display':start || end || (page === activePage || page === activePage -1 || page === activePage +1),'active': page === activePage}">
                    <a href="javascript:;" title="pageno" (click)="goToPage(page)">{{ page }}</a>
                  </li>
                </ng-container>
              </div>
              <li class="waves-effect" [ngClass]="{'cls-disable': activePage == paginationList.length}" (click)="goToPage(activePage + 1)">
                <span class="circleborder mr-0 ml-3"><em class="icon-14-arrow last"></em></span>
              </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="gopage" *ngIf="paginationList.length > 1">
              <label>{{'Go to page :' | translate }} </label>
              <div class="d-inline input-field">
                <input id="page" type="number" [(ngModel)]="activePage" min="1" />
                <a class=" btn-small ml-3 waves-effect waves-light" title="go to page"
                  (click)="goToPage(activePage)">{{'Go'}}</a>
              </div>
            </div>
        </div>
    </div>
    <!-- pagination part ends -->
  </div>