.auth-failed {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .error {
        text-align: center;
        font-weight: 600;
        img {
            width: 100%;
        }
        .name {
            font-size: 26px;
        }
        .msg {
            font-size: 14px;
        }
    }
}
