@import '../../../../assets/scss/variables.scss';
.cls-edit-body{
    .cls-custom-tab{
        margin: 10px 0;
        border-bottom: 1px solid #edf1f6;
        li{
            list-style: none;
            font-size: 17px;
            color: var(--TXTLIGHT);
            // padding: 0px 10px;
            display: inline-block;
            margin-right: 50px;
            cursor: pointer; 
            font-family: var(--SECONDARYFONT);
            a{
                list-style: none;
                font-size: 17px;
                color: var(--TXTLIGHT);
                padding: 5px 10px;
                display: inline-block;
                // margin-right: 50px;
                cursor: pointer;
                &.active{
                    opacity: 1;
                    border-bottom: 2px solid var(--PRIMARYCOLOR);
                    color: var(--TXTBLACK);
                    pointer-events: auto;
                    font-size: 17px;
                    font-weight: 600;
                    .cls-list-count{
                        background: var(--PRIMARYCOLOR);
                        color: var(--TXTWHITE);
                    }
                }
                .cls-list-count{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 18px;
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            .cls-btn-prc{
                margin: 48px 0px;
                .cls-proceed{
                    background: var(--PRIMARYCOLOR);
                    color: var(--TXTWHITE);
                    padding: 5px 25px;
                    font-size: 16px;
                    box-shadow: unset;
                    transition: .5s;
                 
                    &:hover{
                        box-shadow: inset 10em 0 0 0 var(--TXTWHITE);
                        color: var(--PRIMARYCOLOR);
                    }
                }
            }
            
        }
    }
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max) {
    .cls-edit-body {
        .cls-custom-tab {
            display: block;
            li {
                display: block;
                margin-right: unset;
                a.active {
                    font-size: 16px;
                    .cls-list-count {
                        vertical-align: text-top;
                    }
                }
                a {
                    font-size: 16px;
                  
                }
            }
        }
        .tab-content{
        .tab-pane{
            .cls-btn-prc{
                margin: 12px 0px;
                .cls-proceed{
                    padding: 5px 10px;
                    font-size: 14px;
                }
            }
        }
    }
    }
}
@media screen and (min-width:$lg-tablet-min) and (max-width:$lg-tablet-max) {
    .cls-edit-body {
        .cls-custom-tab {
            li {
                margin-right: 40px;
            }
        }
    }
}