@import "../../../../assets/scss/variables.scss";
.cls-reload-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 13% auto;
}
.cls-custom-select-box{
    position: absolute;
    padding: 2px 12px;
    min-width: 140px;
    background: var(--BGWHITE);
    border: 1px solid var(--BORDERDARKER);
    border-radius: 5px;
    top: 8px;
    right: 22px;
    z-index: 1;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    max-height: 115px;
}
.cls-select-drop-icon {
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 5px;
}
.cls-dropdown-data.dropdown {
    text-align: right;

    .cls-download {
        position: absolute;
        top: 30px;
        right: 50px;
        z-index: 10;
  }
}
// .apexcharts-toolbar {
//     background-color: red !important;
// }
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max),(min-width:$table-min) and (max-width:$table-max) {
    .cls-dropdown-data.dropdown {
        text-align: right;
    
        .cls-download {
            right: 0px;
            top: 25px;
      }
    }
    .cls-custom-select-box{
        top: 31px !important;
        right: 45px !important;
        min-width: 100px !important;
        // max-height: 118px !important;
        padding:0px 6px !important;
        .cls-select-drop-icon{
            right: 13px;
            top: 9px;
        }
    }
}
