
<h1 class="cls-heading my-4"> {{'Dashboard' | translate }} </h1>

<div class="row mb-5">

    <!-- Requests trend Year start -->
    <div class="col-sm-12 cls-dashboard-chart">
        <div class="cls-chart-container">
            <app-request-trend-year></app-request-trend-year>
        </div>
    </div>
    <!-- Requests trend Year end -->

    <!-- Requests trend Comparision start -->
    <div class="col-sm-12 mt-5 cls-dashboard-chart">
        <div class="cls-chart-container">
            <app-request-trend-comparision (reloadService)="getReload($event)" [comparisondata]="comparisondata">
            </app-request-trend-comparision>
        </div>
    </div>
    <!-- Requests trend Comparision end -->

    <!-- Revenue Analysis Comparision start -->
    <div class="col-sm-12 mt-5 cls-dashboard-chart">
        <div class="cls-chart-container">
            <app-revenue-analysis-comparision (reloadService)="getReloadRevenueComp($event)"
                [comparisondata]='revenuecomparisondata'></app-revenue-analysis-comparision>
        </div>
    </div>
    <!-- Revenue Analysis Comparision end -->

    <!-- Revenue Analysis start -->
    <div class="col-sm-12 my-5 cls-dashboard-chart">
        <div class="cls-chart-container">
            <app-revenue-analysis-total-revenue (reloadService)="getReloadRevenue($event)"
                [revenueData]="currentYearRevenuedata"></app-revenue-analysis-total-revenue>
        </div>
    </div>
    <!-- Revenue Analysis end -->

    <!-- Requests trend Comparision new start -->
    <!-- <div class="col-sm-12 my-5">
        <div class="cls-chart-container">
            <app-request-trend-comparison2 (reloadService)="getReload($event)" [comparisondata]="comparisondata"></app-request-trend-comparison2>
        </div>
    </div> -->
    <!-- Requests trend Comparision new end -->
</div>