<div id="nav-tab" class="cls-nav-tab" role="tablist">
    <a href="javascript:;" role="tab" class="cls-nav-list"  [ngClass]="{'cls-active':flagTabDashboard}" (click)="handelClick('home')">
        {{'Home' | translate }}
    </a>
    <a href="javascript:;" role="tab"  class="cls-nav-list"  [ngClass]="{'cls-active':!flagTabDashboard}"  (click)="handelClick('pipe')">
        {{'Pipeline' | translate }}
    </a>
</div>
<div>
    <ng-container *ngIf="flagTabDashboard">
        <app-dash-board-home></app-dash-board-home>
    </ng-container>
    <ng-container *ngIf="!flagTabDashboard">
        <app-dash-board-pipeline></app-dash-board-pipeline>
    </ng-container>
</div>
<!-- <app-network-error *ngIf="networkerror"></app-network-error> -->