@import '../../../../assets/scss/variables.scss';
.cls-main-container{
    .cls-main-header{
        display: block;
        font-size: 24px;
        color: var(--PRIMARYCOLOR);
        font-weight: 600;
        margin-top: 16px;
        font-family: var(--SECONDARYFONT)
    }
    .cls-mobile-menu {
        display: none;
    }
    .cls-tab-data{
        .cls-tab-lists{
            text-align: right;
            margin-bottom: 8px;
            .cls-list{
                color: var(--PRIMARYCOLOR);
                font-size: 16px;
                cursor: pointer;
                font-weight: 600;
                font-family: var(--SECONDARYFONT);
                &.cls-report-active{
                    visibility: hidden;
                }
                &.cls-summary-report{
                    visibility: hidden;
                }
                .cls-list-arrow{
                    display: none;
                }
            }
        }
        section{
            display: flex;
            flex-direction: row;
            background: var(--BGWHITE);
            border-radius: 5px;
        }
        .cls-show-report-table {
            padding:10px 15px;
            background-color: var(--BGWHITE);
            .cls-show-chart-table{ 
                border-radius: 5px;
                border: 1px solid var(--TXTLIGHTER);
                background-color: var(--BGWHITE);
                margin: 20px 0px;
            .cls-chart-links{
                padding:10px 15px;
                border-bottom: 1px solid var(--TXTLIGHTER);
                .cls-pie-chart,.cls-bar-chart{
                    color: #286aa4;
                    cursor: pointer;
                }
                .cls-pie-chart{
                    margin-right: 40px;
                    &.cls-tab-active{
                        text-decoration-line: underline;
                        font-weight: bold;
                    }
                }
                .cls-bar-chart{
                    &.cls-tab-active{
                        text-decoration-line: underline;
                        font-weight: bold;
                    }
                }

            }
          }
        }
    }
    &.active{
    nav{
        display: none;
    }
    article{
        width: 100%;
        margin: 0px 10px;
    }
}
.cls-toggle-container {
    .cls-toggle {
      font-family: var(--SECONDARYFONT);
    }
  }
  
}

section {
    // display: flex;
    // flex-direction: row;

    nav {
        display: inline-block;
        width: 20%;
    }

    article {
        display: inline-block;
        width: 79%;
    }
}
  
.cls-mobile-toggle {
    position: fixed;
    transform: unset;
    height: -webkit-fill-available;
    transition: 0.3s all ease;
    left:0px;
    top: 0px;
    z-index: 10;
    background: #fff;
    overflow-y: scroll;
    // position: fixed;
    // top: 200px;
    // width: 96%;
    // background: #fff;
    // top: 0px;
    // height: -webkit-fill-available;
    // display: none;
    &.show {
        transition: 0.25s all ease;
        width: 96%;
        height: 100vh;
        z-index: 10;
        background: #fff;
    }
}
.cls-menu-list { 
    display: none;
}
.cls-sideMenuHeader {
    border-bottom: 1px solid var(--TXTLIGHTER);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    .cls-menuList {
    margin-top: 5px;
    font-size: 20px;
    color: var(--PRIMARYCOLOR);
    font-weight: 600;
    }
}

@media screen and (min-width:$mobile-min) and (max-width:$mobile-max),(min-width:$table-min) and (max-width:$table-max),(min-width:$lg-tablet-min) and (max-width:$lg-tablet-max) {
    .cls-menu-list {
        display: inline-block;
        position: absolute;
        margin-top:10px ;
        font-size: 30px;
        right: 0px;
        top: -13px;
    }
    .cls-sideMenu {
        display: none !important;
    }
    .cls-menuList {
        width: 100% !important;
    }
    section {
        article {
            display: inline-block;
            width: 100%;
            // margin-left: 15px;
            padding: 0px 10px;
        }
        
    }
    .cls-main-container {
        position: relative;
        .cls-main-header {
           font-size: 18px;
           margin-bottom: 5px;
        }
        // nav {
        //     display: none;
        // }
        .cls-mobile-menu {
            display: block;
        } 
        .cls-tab-data {
            .cls-tab-lists {
                margin-bottom: 15px;
                .cls-list {
                    border-bottom: 1px dashed var(--PRIMARYCOLOR);
                }
            }
        }
        &.active {
            article {
                width: 100%;
                padding: 0px 10px;
                margin: unset;
            }
        } 
        .cls-tab-data {
            .cls-show-report-table {
                padding-bottom: 60px;
            }
        }
    }
    .cls-siedMenu-close {
        position: absolute;
        font-size: 10px;
        right: 10px;
        top: 14px;
        border: 1px solid $ERROR;
        padding: 6px 8px;
        padding-top: 6px;
        padding-bottom: 4px;
        border-radius: 16px;
        color: $ERROR;
        z-index: 10;
    }
    .cls-show-report-table {
        .cls-jump-page{
            position: relative;
            bottom: 81px;
            left: 46px;
            max-width: 60%;
        }
    }
    .cls-list-arrow {
        display: none;
        transform: rotate(180deg);
        display: inline-block !important;
    }
}
@media screen and (min-width:$lg-tablet-min) and (max-width:$lg-tablet-max) {
        section{
            article{
                padding: 0px 20px;
            }
            
        }
}

