@import '../../../../assets/scss/variables.scss';

.cls-search-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
        display: block;
        text-align: center;
        // margin-bottom: 20px;
    }
    .form-group{
        margin-bottom: 0px;
    }
    .cls-search-input{
        padding: 2px 20px;
        border: 1px solid var(--BORDERDARKER);
        border-radius: 25px;
        font: 14px var(--regular);
        width: 180px;
        background: var(--BGWHITE);
        color: var(--TEXTDARK);
        line-height: 30px;
        @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
            position: absolute;
            bottom: 15px;
            right: 0px;
        }
        @media screen and (min-width:$mobile-min) and (max-width:$mobile-max){
            width: 145px;
            font: 12px/22px var(--regular);
        }
        @media screen and (min-width:$table-min) and (max-width:$table-max) {
            width: 160px; 
            font: 13px var(--regular);
        }
        &.cls-search-field{
            @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
                bottom: -35px;
            }
        }
    }
}

// summary
.cls-summary{
    .cls-summary-heading{
        font-size: 15px;
        display: inline-block;
        margin-bottom: 10px;
        color: var(--HEADERTEXT);
    }
    .cls-summary-head{
        display: flex;
        background: var(--HEADERBG);
        color: var(--WHITE);
        border-radius: 5px;
        .cls-summary-td{
            padding: 10px;
            font-size: 13px;
        }
    }
    .cls-summary-body{    
        display: flex;
        border-radius: 0 0 5px 5px;
        background: var(--BGWHITE);
        .cls-summary-data{
            .cls-currency{
                font-size: 10px;
                padding-right: 5px;
            }
            // &::before{
            //     content: 'INR';
            //     font-size: 8px;
            // }
            padding: 15px;
            font-size: 14px;
        }
    }
}
.cls-displayingItem
{
    display: inline-block;
    position: relative;
}
.cls-itemsPageHidden
{
    // visibility: hidden;
    display: none;
}
.dataTablesInfo
{
    padding: 36px 0px;
}
.cls-listSearchItem{
    position: relative;
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max) {
    .cls-showReportItem {

        .cls-displayingItem {
            .cls-itemsPerPage {
                left: 0px;
                top: 20px;
            }
        }
    }
  
    .dataTablesInfo {
        padding: 15px 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    .cls-jump-page{
        position: relative;
        bottom: 85px;
        left: 35px;
        max-width: 65%;
        flex: unset;
    }
  
}
@media screen and (min-width:$table-min) and (max-width:$table-max){
    .cls-jump-page{
        position: relative;
        left: 60px;
        max-width: 60%;
        bottom: 54px;
        flex: unset;
    }
    .dataTablesInfo{
        padding: 15px 0px;
        text-align: center;
    }
}