@import '../../../../assets/scss/variables.scss';
.cls-group-type{
    margin: 30px 0px 15px;
    .cls-head-tittle{
        font: 16px var(--PRIMARYSEMIBOLDFONT);
        color: var(--TXTBLACK);
    }
    .cls-background{
        background: #f4f4fa;
        padding: 25px 25px 20px 35px;
        border-radius: 5px;
        .cls-check-container{
            display: inline-block;
            .cls-icon{
                margin-right: 10px;
                background: var(--TXTWHITE);
                cursor: pointer;
                border-radius: 10px;
                &.icon-24-radio-on{
                    color: var(--PRIMARYCOLOR);
                }
            }
            .cls-label{
                font-size: 16px;
                display: inline-block;
                padding: 10px 30px 10px 0px;
                color: var(--TXTBLACK);
                cursor: pointer;
               
            }
        }
    }
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max){
    .cls-group-type{
        .cls-background{
            padding: 10px 10px 8px 10px;
            .cls-check-container{
                &.cls-large-data{
                    .cls-icon{
                        vertical-align: super;
                    }
                    .cls-label{
                        width: 80%;
                        vertical-align: -webkit-baseline-middle;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max),(min-width:$table-min) and (max-width:$table-max){
.cls-group-type{
    .cls-background{
        padding: 10px 10px 8px 10px;
        .cls-check-container{
            display: block;
            .cls-icon{
                margin-right: 5px;
            }
            .cls-label{
                font-size: 14px;
                padding: 4px 0px 4px 4px;
            }
        }
    }
}
}