<div class="cls-group-type">
    <h3 class="cls-head-tittle">{{'Report Type'}}</h3>

    <div class="cls-background">
        <ng-container *ngFor="let data of groupData;let i = index">
            <div class="cls-check-container" [ngClass]="{'cls-large-data':data.menuHeader.toString()?.length > 27}">
                <input type="radio" class="cls-input" >
                <em class="cls-icon" (click)="selectRadiobtn(data.activeStatus,i)"[ngClass]="{'icon-24-radio-on':groupData[i].activeStatus=='Y','icon-23-radio-off':groupData[i].activeStatus=='N'}"></em>
                <label class="cls-label" (click)="selectRadiobtn(data.activeStatus,i)"> {{data.menuHeader}}</label>
            </div>
        </ng-container>
    </div>
</div>
