@import '../../../assets/scss/variables.scss';
.cls-container{
    background: var(--BGWHITE);
    // padding: 30px 0px 30px 60px;
    // padding: 0px 0px 30px 60px;
    // margin: 0 -40px;
    margin: 0 auto;
    .cls-heading{
        display: inline-block;
        font-weight:500;
        font-size: 35px;
        color: var(--TXTBLACK);
        font-family: var(--SECONDARYFONT);
    }
    .rq-name{
        font-size: 18px;
        font-weight: 800;
        padding-top: 15px;
        // margin-left: -15px;
        // &.cls-custom-marg{
        //     margin-left: 30px;
        // }
    }
    .cls-all-request{
        margin-top: -13px;
    }
}
// Request page Top note adding
.cls-top-note{
    margin: 10px 30px 0px 0px;
    .cls-top-double-border{
        border-top: 1px solid #d8d7d5;
        border-bottom: 1px solid #d8d7d5;
        padding: 0px 0px 1px 15px;
        margin-left: 15px;
    }
    .cls-note-cont{
        color: #f00;
        margin-top: 8px;
        margin-bottom: 15px;
    }
}
// color added
    .cls-new-color,.cls-new-tender{
        .rq-name{
            color:#4db29b;
        }
        .verticalline{
            background-color: #66eace;
            &::before{
                background-color: #66eace;
            }
            &::after{
                background-color: #66eace;
            }
        }
        .circleshape{
            border: 1px solid #65e7ce;
            &::before{
                background: #66eace;
            }
            &::after{
                background: #66eace;
            }
        }
        .cls-innercircle{
            background-color: #c9faf5;
            border: 0.5em solid #e3fcfa;
        }
    }
    .cls-modify-color,.cls-offline-modification{
        .rq-name{
            color: #b8a064;
        }
        .verticalline{
            background-color: #f0c14d;
            &::before{
                background-color: #f0c14d;
            }
            &::after{
                background-color: #f0c14d;
            }
        }
        .circleshape{
            border: 1px solid #f5cb43;
            &::before{
                background: #f0c14d;
            }
            &::after{
                background: #f0c14d;
            }
        }
        .cls-innercircle{
            background-color: #feefc8;
            border: 0.5em solid #ffecba;
        }
    }
    .cls-fare-color,.cls-processed{
        .rq-name{
            color: #604cb7;
        }
        .verticalline{
            background-color: #7b69fa;
            &::before{
                background-color: #7b69fa;
            }
            &::after{
                background-color: #7b69fa;
            }
        }
        .circleshape{
            border: 1px solid #7b69fa;
            &::before{
                background: #7b69fa;
            }
            &::after{
                background: #7b69fa;
            }
        }
        .cls-innercircle{
            background-color: #c5b5fc;
            border: 0.5em solid #f3f1fe;
        }
    }
   .cls-add-ancillary{
        .rq-name{
            color: #4ed0e5;
        }
        .verticalline{
            background-color: #8edbe7;
            &::before{
                background-color: #8edbe7;
            }
            &::after{
                background-color: #8edbe7;
            }
        }
        .circleshape{
            border: 1px solid #8edbe7;
            &::before{
                background: #8edbe7;
            }
            &::after{
                background: #8edbe7;
            }
        }
        .cls-innercircle{
            background-color: #a3dbf1;
            border: 0.5em solid #f1fefd;
        }
    }
    .cls-rq-reject,.cls-rejected,.cls-request-rejected,.cls-review-rejected{
        .rq-name{
            color: #a7466c;
        }
        .verticalline{
            background-color: #e64f6f;
            &::before{
                background-color: #e64f6f;
            }
            &::after{
                background-color: #e64f6f;
            }
        }
        .circleshape{
            border: 1px solid #e64f6f;
            &::before{
                background: #e64f6f;
            }
            &::after{
                background: #e64f6f;
            }
        }
        .cls-innercircle{
            background-color: #f6bed6;
	        border:0.5em solid #f4b4cf;
        }
    }
    .cls-rq-reject,.cls-tender-modifications{
        .rq-name{
	        color: #b13635;
        }
        .verticalline{
            background-color: #ef4937;
            &::before{
                background-color: #ef4937;
            }
            &::after{
                background-color: #ef4937;
            }
        }
        .circleshape{
            border: 1px solid #dd9392;
            &::before{
                background: #ef4937;
            }
            &::after{
                background: #ef4937;
            }
        }
        .cls-innercircle{
            background-color: #e6c1b1;
            border:0.5em solid #f6bcbe;
        }
    }
    .cls-rq-cancel,.cls-cancelled{
        .rq-name{
	        color: #b98754;
        }
        .verticalline{
            background-color: #f69b3c;
            &::before{
                background-color: #f69b3c;
            }
            &::after{
                background-color: #f69b3c;
            }
        }
        .circleshape{
            border: 1px solid #f69b3c;
            &::before{
                background: #f69b3c;
            }
            &::after{
                background: #f69b3c;
            }
        }
        .cls-innercircle{
            background-color: #fbd6a9;
	        border:0.5em solid #fde6cc;
        }
    }
    .cls-off-expired,.cls-ticket-issued,.cls-pnr-submitted{
        .rq-name{
	        color: #c04e4e;
        }
        .verticalline{
            background-color: #ef4937;
            &::before{
                background-color: #ef4937;
            }
            &::after{
                background-color: #ef4937;
            }
        }
        .circleshape{
            border: 1px solid #ef4937;
            &::before{
                background: #ef4937;
            }
            &::after{
                background: #ef4937;
            }
        }
        .cls-innercircle{
            background-color: #e6c1b1;
            border:0.5em solid #f6bcbe;
        }
    }
    .cls-down-size{
        .rq-name{
	        color: #75a869;
        }
        .verticalline{
            background-color: #89eb72;
            &::before{
                background-color: #89eb72;
            }
            &::after{
                background-color: #89eb72;
            }
        }
        .circleshape{
            border: 1px solid #89eb72;
            &::before{
                background: #89eb72;
            }
            &::after{
                background: #89eb72;
            }
        }
        .cls-innercircle{
            background-color: #e5f9e0;
	        border:0.5em solid #e9fbe5;
        }
    }

    // modify approval,offer accepted
    .cls-modify-ap,.cls-offer-accepted{
        .rq-name{
	        color: #b9603e;
        }
        .verticalline{
            background-color: #db7f5a;
            &::before{
                background-color: #db7f5a;
            }
            &::after{
                background-color: #db7f5a;
            }
        }
        .circleshape{
            border: 1px solid #db7f5a;
            &::before{
                background: #db7f5a;
            }
            &::after{
                background: #db7f5a;
            }
        }
        .cls-innercircle{
            background-color: #f5bda0;
            border:0.5em solid #f7ceba;
        }
    }

    // Request negotiation
    .cls-rq-nego{
        .rq-name{
	        color: #a6a6a6;
        }
        .cls-innercircle{
            background-color: #efeeec;
            border:0.5em solid #dedede;
        }
        .verticalline{
            background-color: #a0a0a0;
            &::before{
                background-color: #a0a0a0;
            }
            &::after{
                background-color: #a0a0a0;
            }
        }
        .circleshape{
            border: 1px solid #a0a0a0;
            &::before{
                background: #a0a0a0;
            }
            &::after{
                background: #a0a0a0;
            }
        }
       
    }

    // offer declined
    .cls-off-decline{
        .rq-name{
	        color: #8b4527;
        }
        .cls-innercircle{
            background-color: #e6c1b1;
	        border:0.5em solid #fce5dc;
        }
        .verticalline{
            background-color: #a93c25;
            &::before{
                background-color: #a93c25;
            }
            &::after{
                background-color: #a93c25;
            }
        }
        .circleshape{
            border: 1px solid #a93c25;
            &::before{
                background: #a93c25;
            }
            &::after{
                background: #a93c25;
            }
        }
    }

    // payment pending
    .cls-pay-pending,.cls-awarded{
        .rq-name{
	        color: #c97252;
        }
        .cls-innercircle{
            background-color: #f4956d;
	        border:0.5em solid #f9cbb7;
        }
        .verticalline{
            background-color: #da5732;
            &::before{
                background-color: #da5732;
            }
            &::after{
                background-color: #da5732;
            }
        }
        .circleshape{
            border: 1px solid #da5732;
            &::before{
                background: #da5732;
            }
            &::after{
                background: #da5732;
            }
        }
    }

    // Request divive
    .cls-rq-divide,.cls-divide{
        .rq-name{
	        color: #9f3d3c;
        }
        .cls-innercircle{
            background-color: #e6c1b1;
	        border:0.5em solid #f7c0bf;
        }
        .verticalline{
            background-color: #ef4937;
            &::before{
                background-color: #ef4937;
            }
            &::after{
                background-color: #ef4937;
            }
        }
        .circleshape{
            border: 1px solid #ef4937;
            &::before{
                background: #ef4937;
            }
            &::after{
                background: #ef4937;
            }
        }
    }

    // Request upsize and request re-submitted
    .cls-upsize,.cls-request-resubmitted,.cls-schedule-change{
        .rq-name{
	        color: #a33a39;
        }
        .cls-innercircle{
            background-color: #e6c1b1;
	        border:0.5em solid #f4c2c3;
        }
        .verticalline{
            background-color: #bb4140;
            &::before{
                background-color: #bb4140;
            }
            &::after{
                background-color: #bb4140;
            }
        }
        .circleshape{
            border: 1px solid #bb4140;
            &::before{
                background: #bb4140;
            }
            &::after{
                background: #bb4140;
            }
        }
    }

    // pnr cancell,request rejected
    .cls-pnr-cancel,.cls-request-closed{
        .rq-name{
	        color: #F53131;
        }
        .cls-innercircle{
            background-color: #ff6666;
            border: .5em solid #ff9090;
        }
        .verticalline{
            background-color: #e10000;
            &::before{
                background-color: #e10000;
            }
            &::after{
                background-color: #e10000;
            }
        }
        .circleshape{
            border: 1px solid #e10000;
            &::before{
                background: #e10000;
            }
            &::after{
                background: #e10000;
            }
        }
    }

    // Billed
    .cls-billed,.cls-payment-completed{
        .rq-name{
	        color: #ab3737;
        }
        .cls-innercircle{
            background-color: #e6c1b1;
	        border:0.5em solid #f7bdbe;
        }
        .verticalline{
            background-color: #ef4937;
            &::before{
                background-color: #ef4937;
            }
            &::after{
                background-color: #ef4937;
            }
        }
        .circleshape{
            border: 1px solid #ef4937;
            &::before{
                background: #ef4937;
            }
            &::after{
                background: #ef4937;
            }
        }
    }

    // add on request and renegiation
    .cls-add-request,.cls-negotiation{
        .rq-name{
	        color: #a6a6a6;
        }
        .cls-innercircle{
            background-color: #efeeec;
	        border:0.5em solid #dedede;
        }
        .verticalline{
            background-color: #a0a0a0;
            &::before{
                background-color: #a0a0a0;
            }
            &::after{
                background-color: #a0a0a0;
            }
        }
        .circleshape{
            border: 1px solid #a0a0a0;
            &::before{
                background: #a0a0a0;
            }
            &::after{
                background: #a0a0a0;
            }
        }
    }
    // pnr cancelled
    .cls-pnr-cancelled{
        .rq-name{
	        color:#b9382f;
        }
        .cls-innercircle{
            background-color: #f17475;
	        border:0.5em solid #f7bdbe;
        }
        .verticalline{
            background-color: #da5732;
            &::before{
                background-color: #da5732;
            }
            &::after{
                background-color: #da5732;
            }
        }
        .circleshape{
            border: 1px solid #da5732;
            &::before{
                background: #da5732;
            }
            &::after{
                background: #da5732;
            }
        }
    }
    // request rejected
    .cls-negotiation-rejected,.cls-partially-paid{
        .rq-name{
	        color:#a7466c;
        }
        .cls-innercircle{
            background-color: #f17475;
	        border:0.5em solid #f7bdbe;
        }
        .verticalline{
            background-color: #e64f6f;
            &::before{
                background-color: #e64f6f;
            }
            &::after{
                background-color: #e64f6f;
            }
        }
        .circleshape{
            border: 1px solid #e64f6f;
            &::before{
                background: #e64f6f;
            }
            &::after{
                background: #e64f6f;
            }
        }
    }
    // request closed
    .cls-timeline-extension{
        .rq-name{
	        color:#6b6628;
        }
        .cls-innercircle{
            background-color: #c5c188;
	        border:0.5em solid #d6d3ab;
        }
        .verticalline{
            background-color: #6b6628;
            &::before{
                background-color: #6b6628;
            }
            &::after{
                background-color: #6b6628;
            }
        }
        .circleshape{
            border: 1px solid #6b6628;
            &::before{
                background: #6b6628;
            }
            &::after{
                background: #6b6628;
            }
        }
    }

.cls-object-container{
    // margin-bottom: 30px;
    // position: relative;
    // bottom: 12px;
    margin-top: -12px;
    margin-left: 15px;
    .shape{
        display: inline-block;
        width: 22%;
        position: relative;
        float: left;
        clear: both;
        .verticalline{
            position: relative;
            left: 51px;
            width: 0.1em;
            height: 2em;
            top: 22px;
            &.cls-new{
                background-color: #66eace;
                &::before,&::after{
                    background-color: #66eace;
                }
            }
            &:before, &::after{
                content: "";
                height: 0.4em;
                width: 0.4em;
                border-radius: 50%;
                position: absolute;
                left: -2px;
            }
             &::after{
                 top: 26px;
             }
        }
        .circleshape{
            position: relative;
            border-radius: 50%;
            width: 8.5em;
            height: 8.5em;
            border-right-color: transparent !important;
            transform: rotate(45deg);
            top: 20px;
            left: -15px;
            // right: 9px;
            // border: 1px solid #65e7ce;
            &::before{
                content: "";
                height: 0.4em;
                width: 0.4em;
                border-radius: 50%;
                position: absolute;
                left: 107px;
                top: 102px;
                // background-color: #66eace;
            }
            &:after{
                content: "";
                width: 1px;
                height: 2.5em;
                transform: rotate(225deg);
                position: absolute;
                left: 121px;
                top: -15px;
                // background-color: #66eace;
            }
        }
        .cls-innercircle{
            position: absolute;
            top: 58px;
            border-radius: 50%;
            height: 7.5em;
            width: 7.5em;
            text-align: center;
            left: -7px;
            
        }
        .cls-content{
            display: flex;
            flex-direction: column;
            .cls-day{
                font-size: 20px;
                font-weight: bold;
            }
            .cls-text{
                font-size: 15px;
            }
        }
        .rq-icdd{
            color: #010502;
        }

    }

    .cls-details{
        width: 83%;
        display: inline-block;
        margin-left: -5%;
        margin-top: 7%;
        position: relative;
        right: 62px;
        .cls-detail-head{
            display: flex;
            background: var(--BGWHITE);
            // border-radius: 10px 10px 0px 0px;
            border-radius: 4px;
            padding: 30px 0 40px 0;
            border: 1px solid #eee;
            position: relative;
            left: 20px;
            bottom: 23px;
            .cls-heads{
                width: 87%;
                display: flex;
                .cls-detail-label{
                    font-weight: 500;
                    display: flex;
                    // width: 20%;
                    min-width: 14%;
                    max-width: 20%;
                    padding-left: 10px;
                    background: var(--BGWHITE);
                    flex-direction: column;
                    position: relative;
                    font-size: 12px;
                     .cls-detail-header {
                        text-transform: capitalize;
                     }
                    .cls-detail-value{
                        font-size: 13px;
                        font-weight: 600;
                        margin-top: 2%;
                        .cls-head-req{
                            color: #002677;
                        }
                        .cls-email{
                            position: absolute;
                            right: 12px;
                            color: #27006f;
                            cursor: pointer;
                            font-weight: 500;
                            text-transform: capitalize;
                            font-size: 12px;

                            &:hover::after {
                                content: attr(data-content);
                                background-color: #f1f1f1;
                                color: black;
                                font-size: 12px;
                                padding: 5px;
                                border-radius: 5px;
                                position: absolute;
                                z-index: 1; 
                                top: -4px;
                                background: #fff;
                                border: 1px solid #dfdfdf;
                                left: 50px;
                                border-left: unset;
                                text-transform:lowercase;
                              }
                              &:hover::before{
                                
                                    content: "";
                                            width: 20px;
                                            height: 20px;
                                            border: 1px solid #f1f3fc;
                                            position: absolute;
                                            right: 70px;
                                            transform: rotate(45deg);
                                            top: 1px;
                                            z-index: 1;
                                            background: #fff;
                                            border: 1px solid #dfdfdf;
                                            left: 42px;
                             
                              }
                            
                        }
                        &.cls-more{
                            width: 60px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: 500;
                            text-transform: lowercase;
                        }
                    }
                }
            }
            .cls-more{
                text-transform: unset;
            }
            .cls-view-btn{
                border: 1px solid #27006f;
                color: #27006f;
                background: var(--BGWHITE);
                font-size: 13px;
                &:hover{
                    // background: var(--BGWHITE);
                    // color: var(--TXTBLACK);
                    background: var(--PRIMARYCOLOR);
                    color: var(--TXTWHITE);
                }
                // &.cls-active{
                //     background: #27006f;
                //     color: var(--TXTWHITE);
                // }
            }
        }
        .cls-details-content{
            position: relative;
            bottom: 23px;
            left: 20px;

            &:before{
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid #f1f3fc;
                position: absolute;
                right: 70px;
                transform: rotate(45deg);
                top: -10px;
                background: #f1f3fc;
            }
            .cls-content-head{
                // font-weight: 700;
                // padding: 10px 25px;
                padding: 1%;
                background: #f1f3fc;
                font-size: 16px;
            }   
            .cls-details-table{
                box-shadow: 0px 11px 12px 2px #eee;
                // padding: 0 25px;
                // background: #f4f4f4;
                .cls-details-head{
                    display: flex;
                    background: #f4f4f4;
                    padding: 10px 0;
                    border-left: 1px solid #f4f4f4;
                    border-right: 1px solid #f4f4f4;
                    .cls-details-lab{
                        width: 11.11%;
                        text-transform: capitalize;
                        text-align: center;
                    }
                    // padding: 10px 0;
                }
                .cls-details-body{
                    display: flex;
                    background: var(--TXTWHITE);
                    padding: 10px 0;
                    .cls-details-lab{
                        width: 11.11%;
                        text-align: center;
                    }
                }
            }
            &.cls-sub-content{
                &::before{
                    display: none;
                }
            }
          
        }
    }
}

.tahead{
    margin-bottom: 10px;
    // box-shadow: rgb(0 0 0 / 16%) 0px -2px 4px;
    tr{
        border: 0px !important;
        .cls-table-th{
            text-transform: capitalize; 
            text-align: center;
            font-weight: unset;
            vertical-align: top;
            // font-weight: 600;
            padding: 10px;
            font-size: 12px;
            background: #f4f4f4;
            text-decoration: underline;
            color: var(--TXTBLACK);
            // text-decoration: underline;
        }
    }
    tbody{
        box-shadow: 1px 4px 11px #dfdfdf;
        tr{
            td{
                font-size: 12px;
                // padding: 12px 8px;
                padding: 15px 2px;
                vertical-align: top;
                text-align: center;
                .cls-body-req{
                    color: #002677;
                }
                &.cls-data-change{
                    color: #6f439b;
                }
                &.cls-error-active{
                    color: $ERROR;
                }
                &.cls-remark{
                    word-break: break-word;
                }
                .cls-error-active{
                    color: $ERROR;
                }
            }
        }
    }
}
.remarks{
    height: 110px;
    background-color: #f4f7fe;
    padding: 1% 2%;
    position: relative;
    bottom: 23px;
    left: 20px;
    overflow-x: auto;
    .remarks-text{
        // height: 44px;
        margin-left: 25px;
    }

}
.cls-flight-status{
    width: 10%;
}
.remarks-head,.remarks-content{
    font-size: 12px;
    display: block;
}
.quote-lt{
    color: #d2d8e6;;
}
.quote-rt{
    float:right;
    color: #d2d8e6;
    transform: rotate(180deg);
}
.cls-subTable{
    margin-bottom: 10px;
    .cls-table-head{
        background: #f4f4f4;
        tr{
            border-bottom: unset;
            th{
                font-size: 13px;
                text-decoration: underline;
                text-align: center;
                font-weight: 500;
                padding: 10px;
                text-transform: capitalize;
            }
        }
    }
   
    .cls-table-body{
        box-shadow: 1px 4px 11px #dfdfdf;
        tr{
            border-bottom: unset;
            td{
                font-size: 13px;
                text-align: center;
            }
        }
    }
    
}
table{
    th{
        padding: 10px;
    }
    // td{
    //     padding: 12px;
    // }
}
// .cls-series-request{
//     display: none;
// }
.cls-depature-date,.cls-arrival-date{
  width: 9%;
}