<div class="row cls-multiSelect-container" [formGroup]="form">
    <div class="input-field col-md-4 cls-custom-multiselect" [ngClass]="{'cls-multiple-error':(submitted && form.controls[formData[0]?.keys]?.errors)}">
        <select multiple  required name="{{ formData[0]?.keys }}" id="{{ formData[0]?.keys }}" formControlName="{{ formData[0]?.keys }}">
            <option *ngFor="let item of dropDownValue" value="{{item?.id}}">
                {{item?.value ? item.value: item.id | translate }}
            </option>
        </select>
        <label class="position-label" for="{{ formData[0]?.keys }}" [ngClass]="{'cls-active-label': form?.controls[formData[0]?.keys]?.valid }">{{ formData[0]?.name | translate }}<span class="cls-mandatory">*</span></label>
    </div> 
</div>
