<app-common-loader [idVal]="6" *ngIf="loader"></app-common-loader>
<img class="cls-reload-icon" *ngIf="reload" title="Reload" src="./../../../../assets/images/icons/icon-1-reload.svg" (click)="reloadItem()" alt="">
<div *ngIf="!reload" class="cls-chart-title"> {{'Pipeline Revenue – Travel agent wise' | translate }} </div>

<ng-container *ngIf="!loader &&!reload && responseTravelAgent!.responseData.length > 0"> 
    <!-- Custom select box start -->
    <div class="cls-custom-select-box " (click)="openSelectBox();$event.stopPropagation()">
        {{showVal}}<em class="icon-33-chart-sorting cls-select-drop-icon" aria-hidden="true"></em>
    </div>
    <ul class="cls-select-box-options agent-drop" *ngIf="selectbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="select(option.val)"> {{option.info | translate }} </li>
    </ul>
    <span (click)="openDownloadBox()"  class="cls-dashboard-dwnld"><em class="icon-15-download cls-downlaod-icon pull-right" title="Download As CSV" aria-hidden="true"></em></span>
    
    <!-- <ul class="cls-select-box-options agent-drop" *ngIf="downloadbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="selectDownload(option.val)"> {{option.info}} </li>
    </ul> -->
    <!-- Custom select box end -->
    <div class="cls-table">
        <!-- table header start -->
        <div class="cls-table-header">
            <div class="cls-table-cell jgjg">
                <span>
                    {{'Travel Agents Name' | translate }}
                    <em *ngIf="!nameAsc" class="icon-30-chart-descending" aria-hidden="true" title="Sort Descending" (click)= "nameAsc = !nameAsc; sort('desc','agent_name')"></em>
                    <em *ngIf="nameAsc" class="icon-29-chart-ascending" aria-hidden="true" title="Sort Ascending" (click)= "nameAsc = !nameAsc; sort('asc','agent_name')"></em>
                </span>
                
            </div>
            <div class="cls-table-cell">
                <span>
                    {{'Payment Completed' | translate }}
                    <em *ngIf="!paymentCompAsc" class="icon-32-chart-num-descending" aria-hidden="true" title="Sort Descending" (click)= "paymentCompAsc = !paymentCompAsc; sort('desc','pay_completed')"></em>
                    <em *ngIf="paymentCompAsc" class="icon-31-chart-num-ascending" aria-hidden="true" title="Sort Ascending" (click)= "paymentCompAsc = !paymentCompAsc; sort('asc','pay_completed')"></em>
                </span>
            </div>
            <div class="cls-table-cell">
                <span>
                    {{'Payment Partially Completed' | translate }}
                    <em *ngIf="!paymentPartialCompAsc" class="icon-32-chart-num-descending" aria-hidden="true" title="Sort Descending" (click)= "paymentPartialCompAsc = !paymentPartialCompAsc;sort('desc','pay_partially_completed')"></em>
                    <em *ngIf="paymentPartialCompAsc" class="icon-31-chart-num-ascending" aria-hidden="true" title="Sort Ascending" (click)= "paymentPartialCompAsc = !paymentPartialCompAsc;sort('asc','pay_partially_completed')"></em>
                </span>
                
            </div>
            <div class="cls-table-cell">
                <span>
                    {{'Yet to Make Payment' | translate }}
                    <em *ngIf="!yettomakepaymentCompAsc" class="icon-32-chart-num-descending" aria-hidden="true" title="Sort Descending" (click)= "yettomakepaymentCompAsc = !yettomakepaymentCompAsc; sort('desc','yet_2_pay')"></em>
                    <em *ngIf="yettomakepaymentCompAsc" class="icon-31-chart-num-ascending" aria-hidden="true" title="Sort Ascending" (click)= "yettomakepaymentCompAsc = !yettomakepaymentCompAsc; sort('asc','yet_2_pay')"></em>
                </span>
                
            </div>
        </div>
        <!-- table header end -->
    
        <!-- table body start -->
        <div class="cls-table-body">
            <div class="cls-table-row" *ngFor="let data of responseTravelAgent.responseData;let even = even" [ngClass]="{'cls-even-row':even}">
                <div class="cls-table-cell">
                    <span class="cls-agent-name"> {{data.agent_name | translate }} </span>
                    <span class="cls-country"> {{data.agent_country | translate }} </span>
                </div>
                <div class="cls-table-cell">
                    <!-- <ng-container *ngIf="data.pay_completed >1000"> {{data.pay_completed /1000 |number: '1.2-2'}} K</ng-container> -->
                    <!-- <ng-container *ngIf="data.pay_completed <1000">{{data.pay_completed |number: '1.2-2'}}</ng-container> -->
                    {{data.pay_completed}}
                    
                </div>
                <div class="cls-table-cell">
                    <!-- <ng-container *ngIf="data.pay_partially_completed >1000">{{data.pay_partially_completed / 1000 |number: '1.2-2'}} K</ng-container>
                    <ng-container *ngIf="data.pay_partially_completed <1000">{{data.pay_partially_completed |number: '1.2-2'}}</ng-container> -->
                    {{data.pay_partially_completed }}
                    
                </div>
                <div class="cls-table-cell">
                    <!-- <ng-container *ngIf="data.yet_2_pay>1000">{{data.yet_2_pay /1000 |number: '1.2-2'}} K</ng-container>
                    <ng-container *ngIf="data.yet_2_pay<1000">{{data.yet_2_pay |number: '1.2-2'}}</ng-container> -->
                    {{data.yet_2_pay }}
                    
                </div>
            </div>
        </div>
        <!-- table body end -->
    
    </div>
</ng-container>

<ng-template *ngIf="!reload" #noData>
    <div class="cls-no-data-found m-5 text-center">
        <img src="./../../../../assets/no-data-found.svg" title="No Data Found" alt="No Data Found">
        <span class="cls-no-data-text mt-3"> {{'No Data Found' | translate }} </span>
    </div>
</ng-template>
