@import '../../../../assets/scss/variables.scss';
.cls-report-tittle,.cls-conditions-tittle,.cls-collapse-report-tittle{
    font-size: 16px;
    margin: 10px 0;
    display: block;
    color: var(--TXTBLACK);
    font-weight: 600;
    font-family: var(--SECONDARYFONT);
}
.cls-button-group {
    margin: 42px 0px;
    .cls-submit{
        background: var(--PRIMARYCOLOR);
        color: var(--TXTWHITE);
        padding: 0px 10px;
        font-size: 16px;
        box-shadow: unset;
        transition: .5s;
        &:hover{
            box-shadow: inset 10em 0 0 0 var(--TXTWHITE);
            color: var(--PRIMARYCOLOR);
        }
        .text-light {
            vertical-align: -2px;
            margin-right: 3px;
        }
    }
}
.cls-collape-drag-and-drop {
    display: none;
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max),(min-width:$table-min) and (max-width:$table-max),(min-width:$lg-tablet-min) and (max-width:$lg-tablet-max) {
    .cls-collapse-report-tittle {
        display: block;
    }
 .cls-button-group {
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
    // position: absolute;
    left: 47px;
    .cls-submit {
        padding: 0px 5px;
        font-size: 14px;
        margin-right: 10px !important;
    }
}
.cls-drag-and-drop {
    display: none;
}
.cls-collape-drag-and-drop {
    display: block;
}
.cls-drag-open {
    margin-left: 5px;
    vertical-align: middle;
}
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max) {
    .cls-button-group {
        .cls-submit {
            font-size: 13px;
        }
    }
}