@import '../../../../assets/scss/variables.scss';

.cls-jump-page{
    display: flex;
    padding: 36px 0px;
    align-items: center;
    @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
        padding: 10px 0px 0px;
    }
    .cls-label{
        width: 53%;
        display: inline-block;
        text-align: right;
        font-size: 14px;
        color: var(--TEXTDARK);
    }
    .cls-input{
        width: 10%;
        margin: 0px 3%;
        padding: 4px 10px;
        border-radius: 10px;
        height: 20px;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        background: transparent;
        color:var(--PRIMARYCOLOR);
        @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
            width: 13%;
            padding: 2px 5px;
            font-size: 13px;
        }
        @media screen and (min-width:$table-min) and (max-width:$table-max) {
            width: 15%;
        }
    }
    button{
        background: var(--BTNBG);
        padding: 3px 15px 3px 8px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        color: var(--WHITE);
        position: relative;
        @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
            font-size: 13px;
            padding: 3px 5px 3px 8px;
        }
        em{
            position: absolute;
            right: 4px;
            top: 12px;
            font-size: 9px;
            color: var(-WHITE);
            @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
                font-size: 8px;
            }
            @media screen and (min-width:$mobile-min) and (max-width:$mobile-max) {
                top:9px;
            }
            @media screen and (min-width:$table-min) and (max-width:$table-max) {
                top: 9.5px;
            }
        }
        // &:focus{
        //     box-shadow: none;
        //     outline: none !important;
        // }
    }
}
@media screen and (min-width:$mobile-min) and (max-width:$mobile-max) ,(min-width:$table-min) and (max-width:$table-max) {
  .cls-jump-page {
    .cls-label {
        font-size: 11px;
    }
  }

}
@media screen and (min-width:$table-min) and (max-width:$table-max) {
    .cls-jump-page {
        .cls-label {
            font-size: 14px;
        }
      }
  }
@media screen and (min-width:$lg-tablet-min) and (max-width:$lg-tablet-max) {
    .cls-jump-page {
        .cls-label {
            font-size: 13px;
        }
        button {
            padding: 3px 8px 3px 8px;
        }
      }
  }