<form class="form-inline" *ngIf="arrowFlag">
  <div
    class="cls-downloadFiles"
    [ngClass]="{
      'cls-group-report-dwnld': appService.groupPaceInfo.reportDrpDwnValSet
    }"
    *ngIf="listData?.default_data?.length > 0"
  >
    <span
      *ngIf="arrowFlag"
      tabindex="0"
      (keydown.enter)="dowloadPath()"
      class="download"
      (click)="dowloadPath()"
    >
      <!-- <img src="../../../../assets/icon-13-download.svg" alt="Download file" title="download file"> -->
      <em class="icon-15-download cls-download" title="download file"></em>
    </span>
  </div>
  <div
    class="form-group cls-searchData"
    [ngClass]="{ 'cls-search-align': listData?.default_data?.length == 0 }"
    *ngIf="
      listData?.orginalData?.length > 0 &&
      !appService.groupPaceInfo.reportDrpDwnValSet
    "
  >
    <label for="Search" class="sr-only">Search</label>

    <input
      type="text"
      class="form-control"
      tabindex="0"
      id="Search"
      placeholder="Search..."
      (keyup)="applyFilter($event.target.value)"
    />
  </div>
</form>
<div
  class="cls-group-tab"
  *ngIf="
    !appService.groupPaceInfo.reportSaveListEnable &&
    !isGroupReportNodata &&
    appService.groupPaceInfo.reportDrpDwnValSet
  "
>
  <ul>
    <li
      *ngIf="
        appService?.groupPaceInfo?.reportTabEnable == 'booked' ||
        appService?.groupPaceInfo?.reportTabEnableAll
      "
      class="cls-booked-tab cls-active"
      [ngClass]="{
        'cls-active':
          appService?.groupPaceInfo?.reportTabEnable == 'booked' ||
          appService?.groupPaceInfo?.reportTabEnableAll
      }"
      (click)="groupTabClick('booked')"
    >
      Booked base
    </li>
    <li
      *ngIf="
        appService?.groupPaceInfo?.reportTabEnable == 'depature' ||
        appService?.groupPaceInfo?.reportTabEnableAll
      "
      class="cls-depature-tab"
      [ngClass]="{
        'cls-active': appService?.groupPaceInfo?.reportTabEnable == 'depature'
      }"
      (click)="groupTabClick('depature')"
    >
      Departure base
    </li>
  </ul>
</div>
<div
  class="cls-moreOption"
  [ngClass]="{
    'cls-group-moreOption': appService?.groupPaceInfo?.reportDrpDwnValSet
  }"
  *ngIf="downloadfile && !this.appService?.isTatReport"
  tabindex="0"
>
  <p>Select the type of report</p>
  <div class="cls-select-reporttype text-center">
    <button
      class="cls-csv"
      *ngIf="listData.csvDownloadFilePath"
      (keydown.enter)="dowloadcsvPath()"
      (click)="dowloadcsvPath()"
      (keydown.esc)="cancelFocus()"
    >
      CSV
    </button>
    <button
      class="cls-xlsx"
      *ngIf="
        listData.downloadFilePath ||
        this.appService?.groupPaceInfo?.reportDownload
      "
      (keydown.enter)="dowloadxlsxPath()"
      (keydown.esc)="cancelFocus()"
      (click)="dowloadxlsxPath()"
      (keydown.tab)="reporttypefocus($event)"
    >
      XLSX
    </button>
  </div>
</div>
<!-- <app-loader *ngIf="loader"></app-loader> -->

<div
  class="cls-list-container"
  [ngClass]="{ 'cls-scroll': listData?.default_Parms?.scrollType === 'Y' }"
  *ngIf="!this.appService.isTatReport && !isGroupReportNodata"
>
  <!-- action container end -->
  <!-- List component start -->
  <div *ngIf="listData">
    <div class="table-responsive" [ngClass]="{ 'cls-no-hover': arrowFlag }">
      <table
        id="listTable"
        class="table table-hover"
        [ngClass]="{
          'cls-no-lis-image-found cls-no-list-data-found':
            listData?.default_data?.length == 0,
          'cls-group-nodata': appService?.groupPaceInfo?.reportDrpDwnValSet
        }"
      >
        <thead>
          <tr>
            <ng-container
              *ngFor="
                let header of mainHeader;
                let first = first;
                let i = index
              "
            >
              <th
                *ngIf="header['template'] != 'completedPercentage'"
                tabindex="0"
                (keydown.enter)="handleSorting(header)"
                [ngClass]="{
                  'cls-first-cel': first,
                  'd-block': header.subHeadStatus == 'Y'
                }"
              >
                <ng-container>
                  {{ header["headerName"] }}
                </ng-container>
                <span
                  *ngIf="
                    header.template == 'checkbox' &&
                    appService.popupReportName == 'ssr-report'
                  "
                >
                  <em
                    class="cls-icon"
                    (click)="handleOverAllCheck()"
                    [ngClass]="{
                      'icon-2-checkbox-off': header.status == 'N',
                      'icon-3-checkbox-on': header.status == 'Y'
                    }"
                  ></em>
                </span>
                <span
                  class="cls-sorting-icon"
                  *ngIf="arrowFlag && header.template != 'checkbox'"
                >
                  <em
                    class="icon-16-arrow cls-arrow-icon"
                    (keydown.enter)="handleSorting(header)"
                    (click)="handleSorting(header)"
                    [ngClass]="
                      header.sorting == 'N'
                        ? 'cls-decending-icon'
                        : 'cls-ascending-icon'
                    "
                  ></em>
                </span>
                <div class="cls-sub-heads" *ngIf="header.subHeadStatus == 'Y'">
                  ({{ header.subHeadName }})
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody
          [ngClass]="{ 'cls-table-hover': arrowFlag }"
          *ngIf="listData?.default_data?.length > 0"
        >
          <!-- <span *ngFor="let data of listData['list_body']| searchFilter: searchText;let dataIndex = index"></span> -->
          <tr
            tabindex="0"
            *ngFor="
              let data of listData['default_data'];
              let dataIndex = index;
              let isLast = last
            "
            class="row_{{ dataIndex }}"
          >
            <td
              *ngFor="let header of mainHeader; let listIndex = index"
              [ngClass]="{
                'cls-percentage':
                  header['headerName'] === 'Completed Percentage'
              }"
            >
              <div
                class="cls-body-cell {{ header['class'] }}"
                *ngIf="
                  header['template'] === 'checkbox' &&
                  appService.popupReportName == 'ssr-report'
                "
                (click)="checkItem(dataIndex)"
              >
                <em
                  [ngClass]="{
                    'icon-2-checkbox-off': !data['checkbox'],
                    'icon-3-checkbox-on': data['checkbox'] == 'Yes'
                  }"
                  class="cls-checkbox_style"
                >
                </em>
              </div>
              <div
                class="cls-name-changeReport"
                *ngIf="
                  header.template == 'count' &&
                  header.template != 'downloadLink' &&
                  appService.popupReportName == 'name-change-report' &&
                  appService.createReports
                "
                [attr.data-content]="data[header.template]"
                [ngClass]="{
                  'cls-schedule': data[header.template] == 'Scheduled',
                  'cls-table-large-data': data[header.template]?.length > 15,
                  'cls-Not-schedule': data[header.template] == 'Not Scheduled',
                  'cls-table-hover': arrowFlag
                }"
                (click)="handleNameChangeReport(data)"
              >
                <a
                  class="cls-popup-anchor"
                  href="javascript:;"
                  (click)="handleNameChangeReport(data)"
                  >{{ data[header.template] }}</a
                >
              </div>
              <div
                *ngIf="
                  header['template'] != 'checkbox' &&
                  header.template != 'downloadLink' &&
                  appService.createReports &&
                  !(
                    header.template == 'count' &&
                    appService.popupReportName == 'name-change-report'
                  )
                "
                [attr.data-content]="data[header.template]"
                [ngClass]="{
                  'cls-schedule': data[header.template] == 'Scheduled',
                  'cls-table-large-data': data[header.template]?.length > 25,
                  'cls-Not-schedule': data[header.template] == 'Not Scheduled',
                  'cls-table-hover':
                    arrowFlag && data[header.template]?.length < 25,
                  'cls-table-large-hover': isLast
                }"
              >
                <ng-container
                  *ngIf="data[header.template]?.toString()?.length > 25"
                >
                  {{
                    data[header.template].substring(0, 25) + "..."
                  }}</ng-container
                >
                <ng-container
                  *ngIf="data[header.template]?.toString()?.length < 26"
                  >{{ data[header.template] }}</ng-container
                >
              </div>
              <div
                *ngIf="
                  header['template'] != 'checkbox' &&
                  header.template != 'downloadLink' &&
                  !appService.createReports
                "
                [attr.data-content]="data[header.template]"
                (mouseover)="
                  onMouseOver(data[header.template]?.length, isLast, listIndex)
                "
                (mouseout)="onMouseOut()"
                [ngClass]="{
                  'cls-schedule': data[header.template] == 'Scheduled',
                  'cls-table-large-data': data[header.template]?.length > 15,
                  'cls-Not-schedule': data[header.template] == 'Not Scheduled',
                  'cls-percentage-div':
                    header['headerName'] === 'Completed Percentage'
                }"
              >
                <ng-container *ngIf="data[header.template]?.length > 15">
                  {{
                    data[header?.template].substring(0, 13) + "..."
                  }}</ng-container
                >
                <ng-container *ngIf="data[header.template]?.length < 16">{{
                  data[header.template]
                }}</ng-container>
              </div>
              <div *ngIf="header['headerName'] === 'Action'">
                <div
                  *ngIf="
                    (data.reportStatus == 'New' ||
                      data.reportStatus == 'In Progress') &&
                    data.reportStatus != 'Completed'
                  "
                  class="cls-circle-loader"
                >
                  <div
                    class="cls-loader-active circle-container"
                    [ngClass]="{
                      'cls-precentage-zero': data.completedPercentage == '0',
                      'cls-precentage-five':
                        data.completedPercentage <= '5' &&
                        data.completedPercentage > '0',
                      'cls-precentage-fifteen':
                        data.completedPercentage <= '15' &&
                        data.completedPercentage > '5',
                      'cls-precentage-qatar':
                        data.completedPercentage <= '25' &&
                        data.completedPercentage > '15',
                      'cls-precentage-fourty':
                        data.completedPercentage <= '40' &&
                        data.completedPercentage > '25',
                      'cls-precentage-half':
                        data.completedPercentage <= '50' &&
                        data.completedPercentage > '40',
                      'cls-precentage-sixFive':
                        data.completedPercentage <= '65' &&
                        data.completedPercentage > '50',
                      'cls-precentage-threeFourth':
                        data.completedPercentage <= '75' &&
                        data.completedPercentage > '65',
                      'cls-precentage-eightyFive':
                        data.completedPercentage <= '85' &&
                        data.completedPercentage > '75',
                      'cls-precentage-ninetyFive':
                        data.completedPercentage <= '95' &&
                        data.completedPercentage > '85',
                      'cls-precentage-full':
                        data.completedPercentage <= '99' &&
                        data.completedPercentage > '95'
                    }"
                  >
                    <span class="cls-white-bg">
                      <span class="cls-loader-percentage">
                        <span class="cls-loader-value">
                          {{ data.completedPercentage }}{{ "%" }}
                        </span>
                      </span>
                    </span>
                  </div>
                  <!-- <circle-progress [percent]=data.completedPercentage [title]=data.completedPercentage [radius]="80"
                                    [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#007bff'" [innerStrokeColor]="'#8b9dc3'"
                                    [animation]="true" [animationDuration]="1000"></circle-progress> -->
                </div>
                <a
                  *ngIf="
                    header['template'] === 'downloadLink' &&
                    data.reportStatus == 'Completed'
                  "
                  href="javascript:;"
                  role="button"
                  class="cls-dwnld-icon cls-hover-tooltip"
                  (click)="
                    openSchedule(
                      'download',
                      dataIndex,
                      listData,
                      data?.queuedReportId
                    )
                  "
                >
                  <em class="cls-list-icon icon-15-download"></em>
                  <span class="cls-tool">{{ "Click To download" }}</span>
                </a>
                <a
                  *ngIf="header['template'] != 'downloadLink'"
                  href="javascript:;"
                  role="button"
                  class="cls-schedule-icon cls-hover-tooltip"
                  [ngClass]="{
                    'cls-disable': data.scheduleStatus === 'Scheduled'
                  }"
                  (click)="openSchedule('schedule', dataIndex, listData, '')"
                >
                  <em class="cls-list-icon icon-6-history"></em>
                  <span class="cls-tool">{{ "Click To schedule" }}</span>
                </a>
                <!-- <a href="javascript:;" *ngIf="header['template']!='downloadLink'" role="button" tabindex="0" class="cls-view-icon cls-hover-tooltip" (click)="openSchedule('View',dataIndex,listData,'')">
                                <em class="cls-list-icon icon-27-view"></em>
                                <span class="cls-tool">{{'Click To view'}}</span>
                                </a>  -->
                <a
                  *ngIf="header['template'] != 'downloadLink'"
                  href="javascript:;"
                  role="button"
                  class="cls-edit-icon cls-hover-tooltip"
                  (click)="openSchedule('edit', dataIndex, listData, '')"
                >
                  <em class="cls-list-icon icon-7-edit"></em>
                  <span class="cls-tool">{{ "Click To edit" }}</span>
                </a>
                <a
                  *ngIf="header['template'] != 'downloadLink'"
                  href="javascript:;"
                  role="button"
                  tabindex="0"
                  class="cls-delete-icon cls-hover-tooltip"
                  (keydown)="DeleteTab($event, dataIndex)"
                  (click)="
                    actionPerform(
                      listData.report_name,
                      data?.savedReportId,
                      listData,
                      dataIndex,
                      $event
                    )
                  "
                >
                  <em class="cls-list-icon icon-5-delete"></em>
                  <span class="cls-tool">{{ "Click To delete" }}</span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody
          [ngClass]="{ 'cls-table-hover': arrowFlag }"
          *ngIf="listData?.default_data?.length == 0"
          [ngClass]="{
            'cls-no-data-list-found': listData?.default_data?.length == 0
          }"
        >
          <tr class="cls-data-found" tabindex="0">
            <span tabindex="0">No data available in table !</span>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- List component end -->
</div>
<app-passenger-list-modal
  *ngIf="(isCheckBox && popupDataInfo.length > 0) || isNameChangeReport"
  [nameChangeReportInfo]="isNameChangeReport"
  (nameCHangeReportStatus)="nameChangeReportEvent($event)"
></app-passenger-list-modal>
<!-- No Data found start -->
<!-- <ng-container *ngIf="listData?.default_data?.length == 0">
       <div class="cls-no-data-found">
           <img src="./assets/images/NoDataFoundEmpty.svg" title="No Data found" alt="No Data found" class="no-record-found-img">
           <span class="no-data-found"> No Data Found !</span>
       </div>
   </ng-container> -->
<!-- No Data found end -->
<app-alert
  *ngIf="confirmation"
  [deleteRowContent]="deleteRow"
  [userInput]="confirmationContent"
  (choosedVal)="confirmAction($event)"
></app-alert>

<!-- Popup start-->
<!-- <app-popup *ngIf="popupEmpty" [popupContent]="popup" (popupStatus)="modalStatus($event)"></app-popup> -->
<!-- Popup end -->
<div
  class="cls-tat-table"
  *ngIf="this.appService.isTatReport || isGroupReportNodata"
>
  <div class="cls-main-header-table">
    <span>{{ appService.selectedMenuName }}</span>
    <div class="cls-downloadFiles" *ngIf="listData?.tatReport?.length">
      <span
        *ngIf="arrowFlag"
        tabindex="0"
        (keydown.enter)="dowloadPath()"
        class="download"
        (click)="dowloadPath()"
      >
        <em class="icon-15-download cls-download" title="download file"></em>
      </span>
    </div>
  </div>
  <div class="cls-moreOption" *ngIf="downloadfile">
    <p tabindex="0">Select the type of report</p>
    <div class="cls-select-reporttype text-center">
      <span
        class="cls-csv"
        tabindex="0"
        *ngIf="listData.csvDownloadFilePath"
        (keydown.enter)="dowloadcsvPath()"
        (click)="dowloadcsvPath()"
        >CSV</span
      ><span
        class="cls-xlsx"
        tabindex="0"
        *ngIf="listData.downloadFilePath"
        (keydown.enter)="dowloadxlsxPath()"
        (click)="dowloadxlsxPath()"
        >XLSX</span
      >
    </div>
  </div>
  <div class="cls-inner-table">
    <div
      class="cls-tat-inner-table"
      *ngFor="let data of listData?.tatReport; let i = index"
    >
      <div class="cls-col-table-header">
        <span class="cls-table-txt">{{ data.subTable_header }}</span>
      </div>

      <div class="cls-table-data-parent">
        <table>
          <thead>
            <tr>
              <ng-container *ngFor="let tableHeader of data.list_header">
                <th>
                  {{ tableHeader.headerName }}
                </th>
              </ng-container>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let tableBody of data.list_body">
              <ng-container *ngFor="let tableHeader of data.list_header">
                <td>{{ tableBody[tableHeader.template] }}</td>
              </ng-container>
              <!-- </tr>
<tr                     class="cls-no-data-founds" *ngIf="data.list_body.length == 0">
                        </tr> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      *ngIf="listData?.tatReport?.length == 0 || isGroupReportNodata"
      class="cls-tat-inner-table cls-tat-no-data-table"
    >
      <div class="cls-table-data-parent">
        <table>
          <thead></thead>
          <tbody>
            <tr class="cls-no-data-founds" tabindex="0">
              <!-- <span tabindex="0">No data available in table !</span> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- Loader -->
  <!-- <div class="cls-load"> -->
  <!-- Loader Header -->
  <!-- <div class="cls-table-top">
            <span class="cls-table-top-cont-show">
                Show
                <span class="cls-show-number">
                    10
                </span>
                Entries
            </span>
            <em class="cls-dwnld icon-15-download"></em>
            <span class="cls-table-top-cont-search">
                Search:
            </span>
        </div> -->
  <!-- Loader Table -->
  <!-- <div class="cls-table-loader">
            <div class="cls-table-header">
                <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
                <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
                <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
            </div>
            <div class="cls-table-body">
                <div class="cls-table-body-cont" *ngFor="let i of [1,2,3,4]">
                    <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
                    <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
                    <span class="cls-loader"><span class="cls-loader-cont loader"></span></span>
                </div>
            </div>
        </div> -->
  <!-- Loader Footer -->
  <!-- <div class="cls-table-bottom">
            <span class="cls-table-showing">Showing 1 to 3 of 3 entries</span>
            <span class="cls-table-prev-nxt">
                Previous
                <span class="cls-page-count">1</span>
                Next
            </span>
            <span class="cls-clear-fix"></span>
        </div>
    </div>
</div> -->
</div>
