<!--************  Powered by : Infiniti software solutions **************-->
<div class="cls-group-check">
    <h3 class="cls-head"> <span class="cls-fields-head" (click)="selectAll(groupData.status)" tabindex="0">{{ groupData.head | translate }}</span>
        <div class="cls-check" tabindex="0"  (keydown.enter)="selectAll(groupData.status)" (click)="selectAll(groupData.status)">
            <input type="checkbox" tabindex="-1" class="cls-checkall-ip">
            <em class="cls-icon"
                [ngClass]="{'icon-2-checkbox-off': groupData.status == 'N','icon-3-checkbox-on' : groupData.status == 'Y'}"></em>
            <label class="cls-checkall"> {{'Select All' | translate}}</label>
        </div>
    </h3>

    
    <div class="cls-background">

        <!-- Custom report common strcture code -->

        <ng-container *ngFor="let data of groupData[respectiveFields];let index = index">
            <div class="cls-check-container" tabindex="0" [ngClass]="{'cls-data-name':data.name.toString()?.length > 31}" (keydown.enter)="selectCheckbox(data.status,index)"  (click)="selectCheckbox(data.status,index)" *ngIf="!data.hide_value">
                <input type="checkbox" tabindex="-1" class="cls-input" [ngClass]="{'cls-disble': data.default}" title="{{data.keys}}" [attr.aria-checked]="data.status == 'Y' ? 'true' : 'false'">
                <em class="cls-icon"
                    [ngClass]="{'icon-2-checkbox-off': data.status == 'N','icon-3-checkbox-on': data.status == 'Y' || data.default}" [attr.aria-hidden]="data.status == 'Y' ? 'true' : 'false'"></em>
                <label class="cls-label"> {{data.name}}</label>
            </div>
        </ng-container>

        <!-- Checkbox design structure changes code  -->

            <!-- <ng-container *ngFor="let data of groupData[respectiveFields];let index = index">
                <span class="cls-label" *ngIf="!data.hide_value" tabindex="-1" [ngClass]="{'cls-disble': data.default}"
                    title="{{data.keys}}" [attr.aria-checked]="data.status == 'Y' ? 'true' : 'false'"
                    (click)="selectCheckbox(data.status,index)">
                    <em class="cls-icon-body"
                        [ngClass]="{'icon-2-checkbox-off': data.status == 'N','icon-3-checkbox-on': data.status == 'Y' || data.default}"
                        [attr.aria-hidden]="data.status == 'Y' ? 'true' : 'false'"></em>{{ data.name }}
                </span>
            </ng-container> -->
    </div>
</div>
<!-- [attr.aria-checked]="data.status == 'Y' ? 'true' : 'false'" -->