<app-common-loader *ngIf="loader" [idVal]=4></app-common-loader>
<img class="cls-reload-icon" *ngIf="reload" title="Reload" src="./../../../../assets/images/icons/icon-1-reload.svg" (click)="reloadItem()" alt="">
<div id="chart" class="cls-pipeline-chart" *ngIf="!loader && !reload">
    <!-- Custom select box start -->
    <div class="cls-custom-select-box" (click)="openSelectBox();$event.stopPropagation()">
        {{showVal}}<em class="icon-33-chart-sorting cls-select-drop-icon" aria-hidden="true"></em>
    </div>

    <ul class="cls-select-box-options" *ngIf="selectbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="select(option.val)"> {{option.info | translate }} </li>
    </ul>
    <div class="cls-dropdown-data dropdown" title="Download">
        <em type="button" class="icon-15-download cls-download" id="requestDownload" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></em>
        <div class="cls-download-drop dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="javascript:;" class="dropdown-item" (click)="downloadChart(option.id)"
                *ngFor="let option of downloadOption" title="{{ option.value }}">{{ option.value }}</a>
        </div>
    </div>
    <!-- Custom select box end -->
    <div id="pipelineSectorDiv">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
            [colors]="chartOptions.colors" [title]="chartOptions.title" [tooltip]="chartOptions.tooltip"></apx-chart>
    </div>
</div>