<app-common-loader [idVal]= 4 *ngIf="loader"></app-common-loader>
<img class="cls-reload-icon" *ngIf="reload" title="Reload" src="./../../../../assets/images/icons/icon-1-reload.svg" (click)="reloadItem()" alt=""> 
<div class="row" *ngIf="!loader && !reload">
    <!-- Custom select box start -->
    <div class="cls-custom-select-box" (click)="openSelectBox();$event.stopPropagation()">
        {{showVal  | titlecase}}<em class="icon-33-chart-sorting cls-select-drop-icon" aria-hidden="true"></em>
    </div>

    <ul class="cls-select-box-options" *ngIf="selectbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="select(option.val)"> {{option.info  | titlecase}} </li>
    </ul>
    <!-- Custom select box end -->
    <!-- Custom select box start -->
    <!-- <div class="cls-custom-select-box cls-select" (click)="openSelectBox2();$event.stopPropagation()">
        {{basedonval}}<em class="fa fa-sort-desc" aria-hidden="true"></em>
    </div>

    <ul class="cls-select-box-options cls-select" *ngIf="selectboxbaseddon" (click)="$event.stopPropagation()">
        <li *ngFor="let option of basedOn" (click)="selectBasedon(option.val)"> {{option.val}} </li>
    </ul> -->
    <!-- Custom select box end -->

    <!-- Revenue analysis bar chart -->
    <div class="col-sm-7 cls-request-analysi cls-chart-report">
        <app-request-analysi [currency]= 'currency'  [reqAnalysis]="reqAnalysis" [selectedIndex]="selectedVal" [activeTab]="activeTab" (clickedId)="legendsClick($event)"></app-request-analysi>
    </div>
    <!-- Revenue analysis donut chart -->
    <div class="col-sm-5">
        <app-request-analysi-donut *ngIf="flag" [reqAnalysisDonut]="reqAnalysisDonut" 
        [activeTab]="activeTab" [legend] = "legendIndex"></app-request-analysi-donut>
    </div>
</div>
