<div class="cls-alert-conatiner">

  <div class="cls-bg"></div>



  <form>
    <div class="content"><span style="display: none;">grmDashboard app is running!</span> </div>

    <div class="modal cls-model" id="exampleModalLong" role="dialog" data-keyboard="false" data-backdrop="static"
      aria-labelledby="exampleModalLongTitle" aria-hidden="true">

      <div class="modal-dialog cls-form" role="document">

        <div class="modal-content">
         
          <div class="modal-header">
            <h5 class="modal-title cls-tittle" id="exampleModalLongTitle">{{alertIpData.alertHeader}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(false)"
              [tabindex]="isModalVisible ? 0 : -1">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="alertIpData.content" class="cls-queue-report-text">{{alertIpData.content}}</div>

          <div class="modal-body input-field cls-custom-input cls-defaultIP" (keydown.enter)="closeModal(true)">
            <input type="text" (blur)="onInputBlur($event)" (keyup)="onKey($event)" appBlockCopyPaste value={{userValue}}
              (keypress)="restrictInput($event,'alphaNumeric','')" tabindex="0">
            <label class="position-label">{{alertIpData.inputLabel}}<span class="cls-mandatory">*</span></label>
            <!-- <span class="cls-err d-none"> Enter the valid input </span> -->
          </div>
          <div class="cls-save">
            <button type="button" class="btn btn-secondary " [disabled]="!isDisabled" (click)="closeModal(true)"
              tabindex="0" role="button" aria-label="Save" (keydown)="closeModal(true)"
              (keydown.tab)="closeFocus()">{{alertIpData.buttonData}}</button>
          </div>

        </div>

      </div>

    </div>

  </form>
</div>