<app-common-loader *ngIf="loader" [idVal]="3"></app-common-loader>
<img class="cls-reload-icon" *ngIf="reload" title="Reload" src="./../../../../assets/images/icons/icon-1-reload.svg" (click)="reloadItem()" alt="">
<div id="chart" class="cls-pipeline-chart"  *ngIf="!loader && !reload && responseRegionWise?.responseData?.length > 0">
    <!-- Custom select box start -->
    <div class="cls-custom-select-box" (click)="openSelectBox();$event.stopPropagation()">
        {{showVal}}<em class="icon-33-chart-sorting  cls-select-drop-icon" aria-hidden="true"></em>
    </div>

    <ul class="cls-select-box-options" *ngIf="selectbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="select(option.val)"> {{option.info | translate }} </li>
    </ul>
    <div class="cls-dropdown-data dropdown" title="Download">
        <em type="button" class="icon-15-download cls-download" id="requestDownload" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></em>
        <div class="cls-download-drop dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="javascript:;" class="dropdown-item" (click)="downloadChart(option.id)"
                *ngFor="let option of downloadOption" title="{{ option.value }}">{{ option.value }}</a>
        </div>
    </div>
    <!-- Custom select box end -->
    <div id="pipelinePosDiv">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis"
            [legend]="chartOptions.legend" [fill]="chartOptions.fill" [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
    </div>
</div>
<ng-template *ngIf="!reload" #noData>
    <div class="cls-chart-title"> {{'Pipeline Revenue - POS Country Wise' | translate }} </div>
   <div class="cls-no-data-found m-5 text-center">
        <img src="./../../../../assets/no-data-found.svg" title="No Data Found" alt="No Data Found">
        <span class="cls-no-data-text mt-3"> {{'No Data Found' | translate }}  </span>
   </div>
</ng-template>