<div class="" *ngIf="loader">
    <app-common-loader [idVal]= 2></app-common-loader>
</div>
<img class="cls-reload-icon" *ngIf="reload" src="./../../../../assets/images/icons/icon-1-reload.svg" title="Reload" (click)="reloadItem()" alt="">
<div id="chart" *ngIf="!loader && !reload">
    <!-- Custom select box start -->
    <div class="cls-custom-select-box" (click)="openSelectBox();$event.stopPropagation()">
        {{selectedVal  | titlecase | translate }} <em class="icon-33-chart-sorting cls-select-drop-icon" aria-hidden="true"></em>
    </div>
    <ul class="cls-select-box-options" *ngIf="selectbox" (click)="$event.stopPropagation()">
        <li *ngFor="let option of options" (click)="select(option.val)"> {{option.val  | titlecase | translate }} </li>
    </ul>

    <div class="cls-dropdown-data dropdown d-none" title="Download">
        <em type="button" class="icon-15-download cls-download" id="requestDownload" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></em>
        <div class="cls-download-drop dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="javascript:;" class="dropdown-item" (click)="downloadChart(option.id)"
                *ngFor="let option of downloadOption" title="{{ option.value }}">{{ option.value }}</a>
        </div>
    </div>

    <!-- Custom select box end -->
    <div class="cls-bar-chart cls-request-trend-year-chart" id="requestTrendYearDivId">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis" [colors]="chartOptions.colors" [legend]="chartOptions.legend"
            [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip" [title]="chartOptions.title"></apx-chart>
    </div>
</div>