/*************************************************

 * Styles ------------------ style.scss
 * UI  Development Part --------- Naveen.s , Sudhakar.m
 * UX DESIGN ---------------- 
 * Created date --------- 18-Nov-2020
 * Powered by --------- Infiniti software solutions

/ *************************************************/
/* You can add global styles to this file, and also import other style files */
// @import './assets/scss/icon.scss';
// @import './assets/scss/variables.scss';
@import './assets/scss/all.scss';

body {
  font-family: var(--PRIMARYMEDIUMFONT);
  background: var(--BGLIGHTER);
  background-repeat: no-repeat;
  // font-weight: 400;

  // .cls-heading{
  //     font-size: 32px;
  //     color: VAR(--headingcolor);
  // }
  .cls-chart-title {
    font-size: 14px;
    font-weight: 700;
  }

  .cls-select-box-options {
    position: absolute;
    border: 1px solid var(--BDRREGULAR);
    padding: 3px 10px;
    right: 20px;
    top: 50px;
    width: 140px;
    background: var(--BGWHITE);
    border-radius: 5px;
    z-index: 15;
    list-style: none;
    box-shadow: 0px 0px 3px var(--DARKBOXSHADOW);

    li {
      font-size: 10px;
      display: block;
      padding: 3px 0;
    }
  }

  .agent-drop {
    top: 70px;
  }

  .cls-select {
    right: 175px;

  }


  .cls-chart {
    position: relative;
  }

}

.cls-no-data-found {
  .cls-no-data-text {
    display: block;
    font-size: 14px;
    font-family: var(--PRIMARYREGULARFONT);
    font-weight: 700;
    text-transform: uppercase;
  }
}


.btn:focus {
  outline: none;
  box-shadow: none;
}

.cls-border-error {
  border-color: $ERROR !important;
}

.cls-select-error {
  .select-wrapper {
    .select-dropdown {
      border-color: $ERROR !important;
    }
  }
}

.cls-multiple-error {
  .select-wrapper {
    border-color: $ERROR !important;
  }
}

.btn {
  text-transform: unset !important;
  line-height: unset !important;
}

//custom input
.input-field>label {
  left: unset !important;
}

input[type=search]:not(.browser-default),
select {
  font-size: 14px !important;
}

input:not(.browser-default):focus:not([readonly]) {
  border-color: var(--BDRREGULAR) !important;
  box-shadow: 0 1px 0 0 var(--BDRREGULAR) !important;

  &+label {
    color: var(--PRIMARYCOLOR) !important;
  }
}

// .input-field>label:not(.label-icon).active {
//   transform: unset !important;
//   transform-origin: unset !important;
//   &+label{
//     margin-bottom: unset !important;
//   }
// }
// input:not(.browser-default):valid([readonly]) {
//   &+label {
//     position: absolute;
//     top: -26px;
//     font-size: .8rem;
//   }
// }

// .cls-date {
//   input[type=text]:not(.browser-default) {
//     &+label {
//       //  transform: translateY(-14px) scale(0.8);
//       //  transform-origin: 0 0;
//     }
//   }
// }

.select-wrapper input.select-dropdown:focus {
  border-color: var(--BDRREGULAR) !important;
  box-shadow: 0 1px 0 0 var(--BDRREGULAR) !important;

  &+label {
    color: var(--PRIMARYCOLOR) !important;
  }
}
.cls-multiple-error {
  .select-wrapper input.select-dropdown:focus {
    border-color: red !important;
  }
}

.input-field {
  .select-wrapper {
    .dropdown-content.select-dropdown {
      top: 45px !important;
      width: 100% !important;
      max-height: 120px;
      height: unset !important;
      overflow-y: scroll !important;

      li {
        min-height: unset;
        line-height: unset;

        span {
          line-height: unset;
          padding: 7px 10px;
          font-size: 14px;
          color: var(--TXTBLACK);
        }
      }
      &.multiple-select-dropdown {
        width: 317px !important;
      }
    }

    .multiple-select-dropdown {
      [type="checkbox"]+span:not(.lever) {
        padding: 7px 30px;
      }

      [type="checkbox"]+span:not(.lever):before {
        top: 6px;
        left: -2px;
      }

      [type="checkbox"]:checked+span:not(.lever):before {
        width: 10px;
        height: 17px;
      }
    }
  }
}

.cls-toggle-container {
  margin-top: 25px;
  display: flex;

  .cls-toggle {
    border: 1px solid var(--BDRLIGHTER);
    padding: 5px 10px;
    background: var(--TXTWHITE);
    color: var(--TXTDARK);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.8;

    &.active {
      background: var(--PRIMARYCOLOR);
      color: var(--TXTWHITE);
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 5px !important;
      border: unset;
      opacity: unset !important;
    }
  }
}

.cls-custom-input.cls-defaultIP {
  position: relative;
  margin: 15px 0;

  label {
    position: absolute;
    transition: all 0.125s ease;
    top: 5px;
    font-size: 15px;
  }

  input {
    border: 0px;
    border-bottom: 1.5px solid var(--BDRREGULAR);
    border-radius: 0px;
    padding: 0;
    // height: 23px;
    font-size: 14px;
    color: var(--TXTBLACK);

    &:focus {
      box-shadow: none;
      color: var(--TXTBLACK);
    }
  }

  input:focus~.position-label,
  input:valid~.position-label,
  input:disabled~.position-label,
  input:invalid~.position-label,
  input.ng-valid~.position-label {
    display: block;
    top: -25px !important;
    letter-spacing: 0.5px;
    transition: all 0.125s ease;
    font-size: 14px;
    // text-transform: capitalize;
    transform: translateY(0px) !important; //to iver wright meterilalize
  }

  input:focus~.position-label {
    color: var(--PRIMARYCOLOR) !important; //to over wright materialize
  }
}

//datepicker scss
.cls-infi-datepicker {
  color: var(--PRIMARYCOLOR);
  padding: 0;
  width: 20em;
  z-index: 10 !important;
  margin-bottom: 10px;
  top: 200px;
  width: 319px !important;

  .ui-datepicker-prev,
  .ui-datepicker-next {
    top: 2px !important;

    span {
      // margin-top: -4px;
      margin-left: -3px;
    }
  }
  .ui-datepicker-month, .ui-datepicker-year, .ui-datepicker-week-end, .ui-state-default {
    font-family: var(--PRIMARYREGULARFONT);
  }

  .ui-datepicker-prev,
  .ui-datepicker-next.ui-state-hover {
    background: unset;
    border: unset;
  }

  .ui-datepicker-next {
    span {
      margin-left: -5px;
    }
  }

  .ui-datepicker-title {
    color: #2e95c8;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .ui-datepicker-calender tr th {
    color: var(--PRIMARYCOLOR);
    padding: 0.3em .2em;
  }

  th {
    color: var(--PRIMARYCOLOR) !important;
    padding: 0.5em .3em;
  }

  th span {
    font-size: 12px;
  }

  tr {
    border-bottom: none;

    // th,td{
    //   border: 1px solid #cccccc;
    // }
    td {
      padding: 5px;
    }
  }

  table.ui-datepicker-calendar {
    font-size: 12px;
    margin: unset;

    thead {
      tr {
        background-color: var(--BGLIGHTER);
      }
    }
  }

  // .ui-icon, .ui-widget-content .ui-icon {
  //   background:none;
  // }
  .ui-datepicker td a:hover {
    background: $ERROR;
  }

  .ui-widget-header {
    background: var(--PRIMARYCOLOR);
    border: 1px solid var(--TXTLIGHTER);
    // border: none;
    // background: none;
  }

  .ui-state-default,
  .ui-widget-content {
    border: none;
    background: none;
    text-align: center;

    &:hover {
      background: var(--PRIMARYCOLOR);
      color: var(--TXTWHITE) !important;
      border-radius: 4px;
    }
  }

  .ui-state-highlight,
  .ui-widget-content {
    background: var(--PRIMARYCOLOR);
    color: var(--TXTWHITE) !important;
    border-radius: 4px;
  }

  .ui-state-active,
  .ui-widget-content {
    background: var(--PRIMARYCOLOR);
    color: var(--TXTWHITE);
    border-radius: 4px;
  }

  td.ui-datepicker-week-end:first-child a {
    color: $ERROR;
  }

  .ui-datepicker-month {
    margin-right: 10px !important;
  }

  // .ui-datepicker-month,.ui-datepicker-year{ 
  //       -webkit-appearance: none;
  // }
  .ui-datepicker-month,
  .ui-datepicker-year {
    width: 45%;
    display: inline-block;
    height: 20px;
    padding: 0px;
    background-color: var(--BGWHITE);
    // padding-left: 23px;
    // font-weight: 600;
  }
}

.cls-auto-complete {
  .cls-loading {
    content: "";
    background: url('./assets/images/dotloader.svg') right no-repeat;
  }
}

// Autocomplete dropdown Custom Scss
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;

  .ui-menu-item {
    padding: 4px;
    font-size: 14px;
  }

  .ui-menu-item:hover {
    background: var(--PRIMARYCOLOR);
    color: var(--TXTWHITE);
  }

  .ui-state-active {
    background: unset;
    color: unset;
    border: none;
    margin: unset;
  }
}

/********** scroll Design ************/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* Remove scrollbar space */
  background: #C2D2E4;

  /* Optional: just make scrollbar invisible */
  &:hover {
    width: 5px;
    transition: 0.8s width;
  }
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  // background:#0f94bf;
  background: var(--PRIMARYCOLOR) !important;

  &:hover {
    // background:#0f94bf;
    background: var(--PRIMARYCOLOR);
    width: 5px;
    transition: 0.8s width;
  }
}

/********** scroll Design ************/
html,
* {
  scrollbar-color: var(--PRIMARYCOLOR) #C2D2E4;
  scrollbar-width: thin !important;
  outline: unset;

  ::-moz-scrollbar {
    width: 5px;
    scrollbar-width: thin !important;
  }
}

::-moz-scrollbar {
  width: 5px;
}

/********** scroll Design ************/

// nav starts
nav {
  color: unset;
  background-color: unset;
  width: unset;
  height: unset;
  line-height: unset;
  box-shadow: unset;

  .nav-tabs {
    .nav-link {
      padding: 0.6rem 1.2rem;
      // color: #007bff;
      color: var(--PRIMARYCOLOR);

      &:hover {
        // color: #0056b3;
        color: var(--PRIMARYCOLOR);
      }
    }
  }
}

// switch starts
.cls-switches {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  margin: 4px;
  vertical-align: middle;

  input {
    opacity: 0;
  }

  .cls-switch-circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .cls-switch-circle:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: -1px;
    bottom: -2px;
    background-color: var(--TXTWHITE);
    box-shadow: 1px 1px 6px #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .fn-switch-active {
    background-color: #84bcf9;
    box-shadow: 0 0 1px #ccc !important;

    &::before {
      -webkit-transform: translateX(19px);
      -ms-transform: translateX(19px);
      transform: translateX(19px);
      background-color: #2285e9;
    }
  }

  /* Rounded sliders */
  .cls-switch-circle.cls-round {
    border-radius: 34px;
    box-shadow: 0px 0px 2px #95989c;
  }

  .cls-switch-circle.cls-round:before {
    border-radius: 50%;
  }
}

//switch ends
//table hover tooltip
.cls-hover-tooltip {
  position: relative;

  &:hover {
    .cls-tool {
      visibility: visible;
      opacity: 1;
    }
  }

  .cls-tool {
    padding: 6px 10px;
    z-index: 2;
    border-radius: 5px;
    color: var(--TXTWHITE);
    background: var(--TXTBLACK);
    position: absolute;
    left: -11px;
    top: 32px;
    font-size: 11px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    max-width: 120px;
    text-align: left;
    width: max-content;

    &::before {
      content: "";
      border-top: 7px solid rgba(0, 0, 0, .8);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      position: absolute;
      left: 19px;
      transform: rotate(180deg);
      top: -6px;
    }
  }
}

.dataTables_empty {
  background: url('./assets/images/NoDataAvailableinvault.svg') no-repeat center;
  font-size: 16px;
  padding-top: 237px !important;
  font-weight: 600;
}

.cls-table-scroll {
  overflow-x: scroll;
}


input:focus~.position-label,
input:valid~.position-label,
input:disabled~.position-label,
input:read-only~.position-label,
select:focus~.position-label,
select~.cls-active.position-label {
  display: block;
  top: -10px;
  transform: translateY(0px) !important; //to iver wright meterilalize
}

.input-field>label:not(.label-icon).active {
  transform: none !important;
}
// .input-field>label:not(.label-icon).active.cls-inactive {
//     transform: translateY(12px) !important;
// }

// multiSelect 
.cls-custom-multiselect {
  .position-label{
    top: 0px;
    &.cls-active-label{
      top: -20px;
      left: 18px !important;
    }
  }
  &.cls-multiple-error {
    input {
      border-bottom: 1px solid red !important;
    }
  }
  .select-dropdown {
    // width: 270px !important;
    width : 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: none !important;
    margin: 0px !important;
    border-bottom: 1px solid var(--BDRLIGHT) !important;
    &.dropdown-trigger {
      padding-right: 25px !important;
    }
    &:focus {
      border-bottom: none;
    }
  }
 
  .select-wrapper .caret { 
    right: -20px !important;
  }
}

.cls-custom-select {
  position: relative;

  .position-label {
    position: absolute;
    font-size: 13px;
    top: 0px;
    left: 18px !important;
  }

  .cls-active-label {
    top: -20px;
  }
  &.input-field {
    .select-wrapper {
      .select-dropdown.dropdown-trigger {
        padding-right: 25px !important;
      }
      .dropdown-content.select-dropdown {
        width: 317px !important;
      }
    }
  }

  .select-wrapper .caret {
    right: -20px;
  }
}
.cls-custom-multiselect,.cls-auto-complete,.cls-date {
  .position-label {
    font-size: 13px;
  }
  input {
    padding-right: 25px !important;
  }
   margin-right: 25px;
}
  .ui-autocomplete {
    font-family: var(--PRIMARYREGULARFONT) !important;
  }
.cls-schedule-continer {
  .cls-date {
    margin-right: unset !important;
  }
  .cls-schedule-range {
    .cls-date {
      margin-right: unset !important;
      input {
        padding-right: unset !important;
      }
    }
  }
}


.cls-pie-download {
  .apexcharts-toolbar {
    position: absolute;
    right: -150px !important;
  }

  .exportPNG {
    display: none;
  }
}

.cls-chart-container {
  .apexcharts-legend-text {
    font-family: var(--PRIMARYSEMIBOLDFONT) !important;
  }
}

.cls-heading {
  display: block;
  font-size: 24px;
  color: var(--PRIMARYCOLOR);
  font-weight: 600;
  // text-transform: capitalize;
}

// Conversion  Report

a:hover {
  text-decoration: unset;
}


// com - common for product 
.cls-com-reportContainer {
  .cls-main-heading {
    font-family: var(--PRIMARYSEMIBOLDFONT);
    // font: 24px 'sans-serif';
    font-size: 24px;
    color: var(--PRIMARYCOLOR);
    font-weight: 600;
    text-transform: capitalize;
    margin: 15px 0px 0px 0px;
  }

  .cls-tbl-top-action {
    a {
      // font: 16px 'sans-serif';
      font-family: var(--PRIMARYSEMIBOLDFONT);
      font-size: 16px;
      color: var(--PRIMARYCOLOR);
      font-weight: 600;
    }

    a:hover {
      text-decoration: unset;
    }

    &.cls-txtRt {
      text-align: end;
    }
  }

  .cls-wt20 {
    width: 20%;
  }

  .cls-wt80 {
    width: 80%;
  }
}

.pagination li.active {
  background: unset;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  // background: unset;
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.table.dataTable thead .sorting_desc,
table.dataTable thead .sorting,
.table.dataTable thead .sorting_asc {
  background: unset !important;
}

/*************Schedeule report component for conversion report************/
.cls-schedule-dow .cls-head {
  display: none;
}

.cls-schedule-dow.cls-border-error .cls-background {
  border: 1px solid $ERROR;
}

.cls-container-loader .cls-loader-bg {
  margin: 20px 16px;
}

.dt-bootstrap4 {
  position: relative;
  z-index: 0;
}

.cls-option {
  padding: 20px;
  display: inline-block;
  line-height: 30px;
}

.cls-label {
  input~.position-label {
    top: 10px !important;

    &.cls-active {
      top: -10px !important;
    }
  }

  input:focus~.position-label {
    top: -10px !important;
  }

}

.cls-drpwn {
  max-height: 250px;
  overflow: hidden auto;
}

.page-item.active .page-link {
  background: var(--PRIMARYCOLOR);
}

.cls-border-error {
  .input-field {
    input {
      border-bottom: 1px solid red;
    }
  }
}

.cls-main-container {
  .apexcharts-toolbar {
    display: none
  }
  .cls-pie-download{
    .apexcharts-canvas{
      width: unset !important;
    }
  }
  
}
.cls-child{
  .position-label{
    top: 0px !important;
  }
  input{
    font-size: 0px !important;
  }
  // .selected{
  //   background-color: unset !important;
  // }
}
.cls-alert-container{
  .cls-downloadFiles{
    display: none;
  }
}
.cls-request-analysi{
  position: relative;
  .cls-anlalysi-dwnld{
    position: absolute;
    z-index: 10;
    right: -452px;
    top: 30px;
  }
}

// WCAG
// .focused {
//   visibility: visible;
//   z-index: 9999;
//   box-shadow: 0 0 1px 1px #000, 0 0 1px #000 inset;
//   /* outline: 2px solid teal; */
//   border-radius: 1px;
//   }
// :focus{
//   outline: 2px solid var(--TXTBLACK)!important;
//   }
//   :focus:not(:focus-visible) {
//   outline: unset !important;
//   }
  // .keyboard-focused{
  // :focus{
  // outline: 2px solid var(--PRIMARYCOLOR)!important;
  // }
  // :focus:not(:focus-visible) {
  // outline: unset !important;
  // }
  // }
    @media screen and (min-width:$mobile-min) and (max-width:$mobile-max),
    (min-width:$table-min) and (max-width:$table-max) {
      body .cls-select-box-options {
        top: 56px;
      }
  
      .cls-pipeline-chart {
        .apexcharts-toolbar {
          top: 25px !important;
          right: -8px !important;
        }
      }
  
      .apexcharts-toolbar {
        top: 25px !important;
        right: -24px !important;
      }
  
      .cls-chart-report {
        .apexcharts-toolbar {
          top: 24px !important;
          right: -10px !important;
        }
      }
      .cls-request-analysi{
        .cls-anlalysi-dwnld{
         right: 0px;
         top: 25px;
        }
      }
    }
  
    @media screen and (min-width:$lg-tablet-min) and (max-width:$lg-tablet-min) {
      .cls-chart-report {
        .apexcharts-toolbar {
          top: 30px !important;
          right: -280px !important;
        }
      }
    }
  .apexcharts-toolbar{
    top: 25px !important;
    right: -20px !important;
    font-size: 18px !important;
    .apexcharts-menu-icon{
      color: var(--TXTBLACK) !important;
  }
}

// .cls-circle-loader{
//   position: absolute;
//   right: 15px;
//   bottom: 0px;
//       svg{
//           height: 51px !important;
//       }
//       text{
//         tspan{
//           font-size: 40px;
//           &:nth-child(3){
//             display: none;
//           }
//         }
//       }
//       circle-progress text {
//         transform: translate(0px, 20px);
//       }
// }
.cls-request-trend-year-chart {
  .apexcharts-text tspan {
    font-family: var(--PRIMARYREGULARFONT) !important;  
  }
}
